[2019-03-14 16:58] LegalSvcsCorp commented on #857
ON HOLD - Requirements Spike

[2019-03-14 16:58] LegalSvcsCorp commented on #858
ON HOLD - Requirements Spike

[2019-03-14 16:59] LegalSvcsCorp commented on #860
ON HOLD - Requirements Spike

[2019-03-14 16:59] LegalSvcsCorp commented on #861
ON HOLD - Requirements Spike

[2019-03-14 17:00] LegalSvcsCorp commented on #862
ON HOLD - Requirements Spike

[2019-03-14 17:00] LegalSvcsCorp commented on #863
ON HOLD - Requirements Spike

[2019-03-14 17:00] LegalSvcsCorp commented on #864
ON HOLD - Requirements Spike

[2019-03-14 17:01] LegalSvcsCorp commented on #865
ON HOLD - Requirements Spike

[2019-03-14 17:07] LegalSvcsCorp opened #875 "Add NSMI v2 field to appropriate table(s)"
Identify tables that have(1) Topic_ID and (2) ID, and add an additional field for the NSMI v2 code.

[2019-03-21 17:09] svasylenko commented on #706
In IE a notification popup is open saying "Sorry, this browser is not supported". In all other bowsers (Edge, Chrome etc) it works.

[2019-03-21 17:09] #706 closed

[2019-03-21 17:21] svasylenko commented on #856
We should reconsider if we need to have youtube there as majority of videos are not related to site content.

[2019-03-21 17:23] svasylenko commented on #849
Fixed.

[2019-03-21 17:23] #849 closed, assigned to KellyeDC-zz

[2019-03-21 17:33] svasylenko opened #883 "Page header update"
Update page header from Access to Justice to Legal Navigator.

![image](https://user-images.githubusercontent.com/46557859/54772488-1e1e4a00-4c10-11e9-815c-f60e0da3d8f6.png)

[2019-03-21 17:43] svasylenko commented on #463
What we have to implement here: a validator to allow only 1 number of a form which allows a lot of entered one by one?

[2019-03-21 17:50] svasylenko commented on #827
Topics & Resources and others: if Forms are presented there - sort them A->Z by name.

![image](https://user-images.githubusercontent.com/46557859/54773573-8a01b200-4c12-11e9-9575-be3cc8ae0a43.png)

[2019-03-21 18:27] svasylenko commented on #77
New definition of task content:

To create section Notifications here (Account->My Plan)

![image](https://user-images.githubusercontent.com/46557859/54775888-976d6b00-4c17-11e9-9446-b4bf3a611383.png)

To add text block here with e-mail and Share button

![image](https://user-images.githubusercontent.com/46557859/54775718-33e33d80-4c17-11e9-8dd2-3ad89b4cf172.png)

and statement: Please enter Legal

[2019-03-21 18:28] svasylenko commented on #77
@KellyeDC please review written above

[2019-03-25 11:26] KellyeDC-zz opened #885 "Domestic Violence Guided Assist Ends Prematurely (Step 4 of 7)"
Freezes at this path (the following is each question and option to select - although there are multiple paths to the screen where it freezes): *1.* If you . . .  Select "No."     *2.* What is your situation . . . select 1st option (I want a court order . . . ).        *3.* This process only . . . .  Select 1st option ("I would . . . Alaska Court System . . .).  *4.*  This is where it is frozen and

[2019-03-25 11:28] KellyeDC-zz commented on #885
https://files.slack.com/files-pri/TEA5V6ZPZ-FH2GJMWM9/screen_freezes_here_dv_guided_assist.png

[2019-03-25 11:30] KellyeDC-zz opened #886 "Hyperlinks not working"
I do not know if this is a defect but it is information Hawaii and Alaska need to know.  It was my understanding that LN does not support any hyperlinks (in articles or Action Plans), so we have been entering the full URL.  Hawaii has some eviction articles with hyperlinks.  I cannot get them to open in either my personal computer or the Alaska Court System computer.  Clicking does nothing.  Copyi

[2019-03-25 11:34] KellyeDC-zz opened #887 "Alaska protective order curated experience"
If you have a long term protective order and the other side has not violated it, the next question is whether you want information on changing, ending, or extending it.  I checked and it works in A2J, but in LN it lists the question and rather than giving answers, it has the "View Action Plan" button.  The "page" in A2J author is "Step 5. Have Protective Order.  8a. Change protective order? (LT No

[2019-03-25 11:37] KellyeDC-zz commented on #887
https://files.slack.com/files-pri/TEA5V6ZPZ-FH0A1N6JU/answers_not_listed.png

[2019-03-25 11:38] KellyeDC-zz commented on #887
https://files.slack.com/files-pri/TEA5V6ZPZ-FH3Q7Q00P/if_violated_then_get_question_correctly.png

[2019-03-25 11:38] KellyeDC-zz commented on #887
https://files.slack.com/files-pri/TEA5V6ZPZ-FH45KHQJJ/a2j_author_where_ln_does_not_list_choices.png

[2019-03-25 11:50] KellyeDC-zz opened #888 "Protective Order (Alaska) - Guided Assist Error"
There are 2 paths to this defect.

**First path**: 1. "If you or someone . . . . " Answer "No."  2. "What is your situation?"  Answer  "I or my child(ren) have . . . "  3.  "Is your protective order . . . " Answer "Alaska."   4. "Do you have a . . . "  Answer "Long-term"   5. "Has the other side violated the order?"  Answer "No."   6.  Broken question.

**Second path**:  1. "If you or someone . .

[2019-03-29 17:40] LegalSvcsCorp commented on #885
High Priority - Functioned properly prior to upload in stage, please resolve. Let me know if there are any questions or concerns.  Additional information is in the Slack #defects channel

[2019-04-01 21:45] KellyeDC-zz commented on #886
Prioritized for this sprint - checking with PO to confirm behavior.

[2019-04-02 08:30] svasylenko commented on #885
@KellyeDC it is not a bug, problem with broken CE file:

on step 4 buttons are not configured properly, i.e. now is:
"buttons": [
                {
                    "id": "1ed5be9c-f874-4bc2-a3b4-3196941eb1e0",
                    "label": "Myself",
                    "name": "",
                    "value": "",
                    "destination": "1-Relationships"
                },

[2019-04-02 08:38] svasylenko commented on #886
Hm, I could not reproduce that. Could you plz share your screen during next call? Also I have no content under Housing - could you please give another example?

![image](https://user-images.githubusercontent.com/46557859/55388397-e1215400-553b-11e9-8210-75d78a42debb.png)

@KellyeDC

[2019-04-02 19:11] KellyeDC-zz commented on #885
Is this ready for testing?!

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: svasylenko <notifications@github.com>
Sent: Tuesday, April 2, 2019 4:30 AM
To: LSCOIT/LegalNavigator
Cc: Kellye Bennett; Mention
Subject: Re: [LSCOIT/LegalNavigator] Domestic Violence Guided Assist Ends Prematurely (Step 4 of 7) (#885)

@KellyeDC<https://github.com/KellyeDC> it is not a

[2019-04-02 19:12] KellyeDC-zz commented on #886
Absolutely, I will demonstrate the issues whenever you’re ready.

Thanks,
Kellye

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: svasylenko <notifications@github.com>
Sent: Tuesday, April 2, 2019 4:39 AM
To: LSCOIT/LegalNavigator
Cc: Kellye Bennett; Mention
Subject: Re: [LSCOIT/LegalNavigator] Hyperlinks not working (#886)

Hm, I could not reproduce that. Could

[2019-04-03 08:47] svasylenko commented on #888
Fixed.

![image](https://user-images.githubusercontent.com/46557859/55465685-5194a780-5606-11e9-9a2e-79326634b332.png)

[2019-04-04 21:04] KellyeDC-zz commented on #883
Task completed.  PO proxy reviewed.

[2019-04-05 15:10] KellyeDC commented on #700
Confirm issue resolved.

[2019-04-05 16:56] KellyeDC-zz commented on #762
Is edge browser compatibility required? @grawdon

[2019-04-05 17:14] KellyeDC-zz commented on #654
@grawdon @breeglej  Elaboration is required.  However, I am uncertain how to best define "Support wider range of tags / formatting options in content".

[2019-04-05 17:19] KellyeDC-zz commented on #257
@svasylenko Confirm that this issue is resolved.

[2019-04-05 17:23] KellyeDC-zz commented on #562
@breeglej @grawdon Is this in scope?  Are we still going in this direction for Hawaii static content?

[2019-04-05 17:41] KellyeDC-zz commented on #125
Is this a valid requirement? @breeglej @grawdon

[2019-04-05 20:21] KellyeDC-zz opened #894 "Location (AND Mobile location)"
Reported by Suzanne (SME).  @KellyeDC to confirm details.

Assumption: Refers to location on mobile devices i.e. smartphones and tablets.

[2019-04-05 20:23] KellyeDC-zz opened #895 "Translation (if the site navigation is in another language other than English it doesn’t match or prioritize materials in that language, if they exist)"
Translation (if the site navigation is in another language other than English it doesn’t match or prioritize materials in that language, if they exist)

Work with the states to identify instances/examples where translations are inaccurate.

[2019-04-05 20:25] KellyeDC-zz opened #896 "Search (do we have to include parent in key words as well)?"
Search (do we have to include parent in key words as well)?

Submitted by Suzanne (SME)

Keywords assessment  - determine if search needs to be updated.

[2019-04-05 20:27] KellyeDC-zz commented on #895
Submitted by Suzanne (SME)

[2019-04-05 20:28] KellyeDC-zz opened #897 "Orgs are duped on the page on both the right sidebar and on the bottom (suggestion: legal resources on the right nav social service resources on the bottom)"
Orgs are duped on the page on both the right sidebar and on the bottom (suggestion: legal resources on the right nav social service resources on the bottom)

Issue submitted by Suzanne (SME)

[2019-04-05 20:29] KellyeDC-zz opened #898 "Additional readings should be UNDER articles (they are additional..)"
Additional readings should be UNDER articles (they are additional..)

Issue submitted by Suzanne (SME)

[2019-04-05 20:31] KellyeDC-zz opened #899 "NSMI Working Sessions - LSC Problem Codes Crosswalk"
Need to do some NSMI working sessions for final suggestions / edits
(1) To suggest final inclusions for child level 1
(2) To ensure that LSC has done a crosswalk with their legal problem codes

Issue Submitted by Suzanne (SME)

[2019-04-05 20:33] KellyeDC-zz commented on #899
Crosswalk between LSC Problem Codes and NSMI v1 completed.

[2019-04-05 20:35] KellyeDC-zz opened #900 "Too Many Articles for Topics"
There too many articles under each topic and they aren’t organized in any particular order - e.g there is a dump of information that isn’t organized on the page

Issue Submitted by Suzanne (SME)

[2019-04-05 20:36] KellyeDC-zz opened #901 "Guided assist is buried in the nav and not obvious"
Guided assist is buried in the nav and not obvious

Issue Submitted by Suzanne (SME)

[2019-04-05 20:37] KellyeDC-zz commented on #901
Is this still valid?

[2019-04-05 20:38] KellyeDC-zz opened #902 "NLP is the only path to the guided assistant, it would be good to have links to GA at the topic level as well"
NLP is the only path to the guided assistant, it would be good to have links to GA at the topic level as well

Issue submitted by Suzanne (SME)

[2019-04-05 20:39] KellyeDC-zz commented on #902
Is this still vaild?

[2019-04-05 20:40] KellyeDC-zz opened #903 "“Articles” has limited formatting which makes them less useful. No outlining, bold, underline, can’t indent, etc. This makes reading them harder."
“Articles” has limited formatting which makes them less useful.  No outlining, bold, underline, can’t indent, etc.  This makes reading them harder.

Issue submitted by Stacey Marz (AK)

[2019-04-05 20:41] KellyeDC-zz commented on #903
This issue may be due to A2J Author constraints, but we need to confirm.

[2019-04-05 20:45] KellyeDC-zz opened #904 "Content Organization"
At this point there is no way to organize the information people get.  There is no place to enter key words for articles, organizations, etc. to help make searches more meaningful (like we could for topics).  Searches are going to outside websites.  Some examples today:

a.	I typed the exact name of an article into search.  LN pulled me to outside webpages.
b.	If I type in “divorce,” it brings me

[2019-04-05 20:48] KellyeDC-zz opened #905 "Add Alaska Courts Systems to Alaska view of Legal Navigator"
Background: You had wondered if Alaska Court System could be added to bottom of the first page where it talks about “information you can trust” and lists LSC and probono.net.  As mentioned in 11, below, Alaska Court System is currently listed when a person gets a PAP.  It may be that is the place they plan to list state partners.

Issue submitted by Stacey Marz (AK)

See the output for Hawaii Acti

[2019-04-05 20:51] KellyeDC-zz opened #906 "Consider Removing "Steps" from the Personalized Action Plan"
We weren’t sure if having the PAP label things as “Steps” is accurate or helpful, or if numbers are helpful.

Issue submitted by Stacey Marz (AK)

[2019-04-05 20:54] KellyeDC-zz opened #907 "Save Multiple Iterations of an Individual's Guided Assist"
Background:
I think it would be a big improvement if people did NOT lose their PAP if they answered the questions of a curated experience a second time.  That would allow a person to end, but get more information later, and would resolve the “looping” problem.  The other option is moving to “child 2” categories and multiple curated experiences, but that would also mean staring over on the divorce

[2019-04-05 20:57] KellyeDC-zz opened #908 "Broken Hyperlinks - Help"
Background: In “Help & FAQs” there are websites listed for resources that are not attached to a hyperlink (so links are not live):

Legal help for military members, veterans, and their families at statesidelegal.org
Nonprofit immigration legal services providers at immigrationlawhelp.org
Legal help for people affected by natural disasters at disasterlegalaid.org

Issue submitted by Stacey Marz (AK

[2019-04-05 20:58] KellyeDC-zz opened #909 "Broken Hyperlinks - FAQs"
Background:

In “Help & FAQs” there are websites listed for resources that are not attached to a hyperlink (so links are not live):

Legal help for military members, veterans, and their families at statesidelegal.org
Nonprofit immigration legal services providers at immigrationlawhelp.org
Legal help for people affected by natural disasters at disasterlegalaid.org

Issue submitted by Stacey Marz (A

[2019-04-05 21:00] KellyeDC-zz opened #910 "Content - Breaks Not Functioning"
It looks like if we try to put a line break in a “learn more,” it just shows “<br>” in the LN text rather than inserting a break.  It appears the “learn mores” can only be a block of text at the bottom of the page.

Issue submitted by Stacey Marz (AK)

[2019-04-05 21:02] KellyeDC-zz opened #911 "Inactive Web Pages"
It looks like links to webpages aren’t active in the “learn mores.”

Issue submitted by Stacey Marz (AK)

[2019-04-05 21:06] KellyeDC-zz opened #912 "Order Change in Personalized Plan -Due to A2J Author"
The PAP information does not come up in the order of the person’s answers – it may be the order of the PAPs in the original A2J program, but I’m not sure.  This increased the confusion with calling the different topics “steps.”

Issue submitted by Stacey Marz (AK).  Confirmed issue with Nalani Kaina (HI).

Work with  A2J Author team to determine resolution

[2019-04-05 21:10] KellyeDC-zz opened #913 "Alaska Court System logo issue in Personalized Action Plan"
The large AK court system logo is still showing up when printing or downloading PAPs.  (I hadn’t noticed before but when you get your PAP it says: “The information and resources below are from Legal Navigator’s partner organizations in Alaska” and then it shows the Alaska Court System logo.  It is not that easy to read.  Maybe it can have “Alaska Court System” written in text below or next to the

[2019-04-05 21:13] KellyeDC-zz opened #914 "Additional Readings for Personalized Action Plan"
When you get your PAP, on the side it throws in “Additional Readings” which may or may not be relevant (in part b/c we lumped so much under “divorce”).  When you print a PAP, it shows up at the bottom.  After all we gave them in the PAP this doesn’t seem necessary and may be redundant or inappropriate.  If the goal is tailored PAPs, throwing these in defeats that goal.

[2019-04-05 21:16] KellyeDC-zz opened #915 "Continue Button in the Guided Assist"
Background: It’s likely way too late, but having to click “continue” after clicking an answer to each question is a source of frustration.

Issue submitted by the Stacey Marz (AK)

[2019-04-05 21:18] KellyeDC-zz opened #916 "Guided Assist Action Plan - Save and Exit"
There are 2 options at the top of the curated experience page: “save” and “exit.”  Neither worked for me.  It would be nice to have an option to quite and get my PAP as well.

NOTE: (I included you in an e-mail to Shandan, Alaa, and Winnie that included the first sentence of this point.)

[2019-04-08 13:21] KellyeDC-zz opened #917 "Guided Assist "Steps" in Header Inaccurate"
Background: The bar at the top of the curated experience showing progress is not accurate (but likely can’t be given that the number of remaining questions depends on answers).  Maybe it would be better to remove it.

Issue submitted by Jeannie Sato

[2019-04-08 13:24] KellyeDC-zz opened #918 "Remove "Articles & Resources" from Personalized Action Plan"
Background: When you get to the page with the button that says, “view my action plan,” below it is listed “articles & resources.”  Same concern as in 12, above: If the goal is information based on answers, this broad list of resources, many of which do not apply, is unhelpful and confusing.

[2019-04-08 13:28] KellyeDC-zz opened #919 "Access Action Plan after Saved - Not Intuitive"
Background: After I created a PAP, one option is “save to profile.”  A bubble pops on the page says, “Plan Added to Session.” But then there is no information on how to find that plan.  If I go to “share your plan” it tells me I am leaving the site.  It then takes me to log into a Microsoft account.  It looks like for a few seconds a screen flashes saying something about saved information but it g

[2019-04-08 13:32] KellyeDC-zz opened #920 "In Guided Assist, When suggesting topics, use Singular/Plural when applicable"
Background: When you go to Guided Assistant and plug in a topic, it brings you to the page to start the experience.  At the bottom it says, “You may also be interested in the following topic:”. Then it lists 3 topics (or that’s what I got).  First (and less importantly) if there are more than 1 topics listed, it should say “topics” not “topic.”  More importantly, the topics I got weren’t related t

[2019-04-08 13:39] KellyeDC-zz opened #921 "Unexpected Behavior in downloading the Personalized Action Plan"
Background: When I hit “download” to download my PAP, it opened in PDF.  If I then go to “file” and save it under a different name and in a different folder, it pops up in my computer’s “download” file.  I am pretty sure this has never happened to me downloading other things, and could result in someone leaving a copy of their PAP in a computer’s “download” file without meaning to (which could be

[2019-04-08 16:06] KellyeDC-zz opened #922 "Remove "period" from search results"
When you get results after typing a topic or search, it says, “Results for XXXX.”  You had suggested removing the period.

Issue submitted by Jeannie Sato (AK)

[2019-04-08 16:12] KellyeDC-zz opened #923 "Duplicate Personalized Action Plans"
There are still a lot of problems uploading curated experiences.  We are still getting double PAPs.  (2 “safety planning” or “prepare for hearing”).    (Update – I included you on an email describing my experience today suggesting the extra PAP issue is related to A2J.)

Issue submitted by Jeannie Sato (AK)

[2019-04-08 16:13] KellyeDC-zz commented on #923
Is this a valid defect?

[2019-04-08 16:26] KellyeDC-zz opened #924 "Center justifying is problematic for readability in Guided Assistant"
Center justifying is problematic for readability in Guided Assistant

Issue submitted by Jeannie Sato (AK)

[2019-04-08 16:29] KellyeDC-zz opened #925 "Toggle Between Guided Assist and Personalized Action Plan"
While doing a guided experience, you can’t toggle between the guided experience and the PAP so you can’t see your PAP until the end

Issue submitted by Jeannie Sato (AK)

[2019-04-08 21:10] grawdon commented on #562
No, this is not in scope. Content from PBN would be listed as URL, not imported to LN. LawHelp states list resource providers but the only integration for this being discussed is for 211.

[2019-04-08 21:12] grawdon commented on #654
I'm not sure what they want here. Margaret Hagan is doing a TIG with HI around tagging. I wonder if they were planning to carry over the tagging from HI LawHelp to LN?

[2019-04-08 21:14] grawdon commented on #461
For now at least, Legal Document should be missing as it is not ready for roll out and is unlikely to be for the pilot. Not a priority.

[2019-04-08 21:17] grawdon commented on #125
This is probably a Carlos question. I'm assuming they'll want something like this for their evaluation of the usefulness of the system and the states would want it to help see what content might need to be revised.

[2019-04-09 15:52] KellyeDC-zz opened #926 "Unable to save Personalized Action Plan"
After completing a guided assist for a protection order in AK, as a LegalNav registered user, I am unable to save my personalized action plan from the options Save/Download/Share/Print.

[2019-04-09 15:53] KellyeDC-zz commented on #926
<img width="899" alt="SAVE PAP Defect" src="https://user-images.githubusercontent.com/45771252/55815287-1ab70980-5abe-11e9-8638-41665dbcf3d9.PNG">

[2019-04-09 16:32] KellyeDC-zz commented on #679
The business stakeholders have determined that the platform should revert back to using "yes/no" for Guided Assist as opposed to the symbols (check mark and no symbol).

[2019-04-09 18:12] KellyeDC-zz commented on #77
Unable to receive link to action plan as registered user.

[2019-04-09 19:12] KellyeDC-zz commented on #636
Do we want to CHANGE the current UI to align with the suggested update to the layout and functionality of the language dropdown @grawdon ?

[2019-04-09 19:24] KellyeDC-zz commented on #469
<img width="584" alt="Videos Not Loading" src="https://user-images.githubusercontent.com/45771252/55828971-8fe50780-5adb-11e9-98e4-871027be8fe7.PNG">

Videos are not loading in the STAGE environment.

[2019-04-09 19:28] breeglej commented on #431
We can’t decide on this and prioritizing until we know what is necessary for evaluation.

[2019-04-09 19:34] breeglej commented on #119
This is necessary if we ever want to learn from what people are typing into LN.  This is horribly written.  We need to clearly write what we need which I think is to save all intents and results from the curated experiences with the intent of using the data to train the NLP.

[2019-04-09 20:12] KellyeDC-zz commented on #724
@svasylenko Serhii, I am not sure what the defect is, specifically Letter L.

[2019-04-09 20:16] KellyeDC-zz commented on #855
Testing On Hold, as we continue to flush out requirements for geocoding.

[2019-04-10 09:47] svasylenko commented on #762
Fixed by previous developments.

![image](https://user-images.githubusercontent.com/46557859/55869206-bb74fa00-5b8e-11e9-9446-ff13ce8423f5.png)

[2019-04-10 10:56] svasylenko commented on #481
@KellyeDC could you please suggest whether we need to do this since it requires at least 3 weeks of development and testing?

[2019-04-10 12:48] breeglej commented on #481
I think what it is saying that we want to have autocomplete in the search bar, though I can't be sure from the user story.  If autocomplete is what this is, I do not think it is our priority right now.  We have other issues that are far more pressing.  Also, a little shocked that autocomplete would take 3 weeks.

[2019-04-10 15:12] KellyeDC-zz commented on #736
Successful login using mobile browser

[2019-04-10 15:12] #736 closed

[2019-04-10 15:23] KellyeDC-zz commented on #481
Moving to Product Backlog to be prioritized later

[2019-04-10 15:46] KellyeDC-zz opened #927 "Add User/Persona - Platform Administrator"
Description: A user that manages the platform and its applications to ensure and monitor performance, updates, access and external interactions at the national level

Examples: LSC team through 2020; New Home for Legal Navigator

[2019-04-10 15:51] KellyeDC-zz opened #928 "Add User/Persona - State Administrator"
Description: An administrative user who contributes to content development; manages users within the state

Examples: Professional who works for Legal Aid, Courts or 211

[2019-04-10 16:02] KellyeDC-zz opened #929 "Add User/Persona - Content Author (State)"
Description: A designated state admin that develops and maintains variable content for state specific information and guided assist

Examples: Specific role/permission for content development

[2019-04-10 16:15] KellyeDC-zz opened #930 "Add User/Persona - Content Approver (State)"
Description: A designated state admin that reviews content, ensures quality and adherence to standards

Examples:  Specific role/permission for content approval

[2019-04-10 16:23] KellyeDC-zz opened #931 "Add User/Persona - Individual Service Provider"
Description: An organization that provides general or personalized civil, legal information or assistance

Examples: Legal Aid; Courts; 211; Consider data governance and oversight and determine information to be provided

[2019-04-10 16:25] KellyeDC-zz opened #932 "Add User/Persona - Platform (End) User"
Description: Anyone accessing the platform to get general or personalized civil, legal information or assistance

Examples: A homeless person; Someone in debt; Someone in an unhappy marriage; An abused married woman; an unemployed veteran facing eviction

[2019-04-10 16:38] breeglej commented on #932
What are we assigning to these personas?  How are we planning to use them?

[2019-04-10 16:40] breeglej commented on #721
I agree that this needs to be in sprint soon.  Users need a back button while in the curated experience.

[2019-04-10 16:41] breeglej commented on #654
I don't think this a priority for pilot.  The story is ill-defined.

[2019-04-10 16:42] breeglej commented on #562
Agree with Glenn.  This is not in scope.

[2019-04-10 16:43] breeglej commented on #125
Agree.  This needs to be something the evaluation team prescribes if necessary.

[2019-04-10 16:45] KellyeDC-zz commented on #932
Hi Jada,

These are placeholder for adding users/personas, once we start on Platform & State Administration enhancements.  These are very high level user types and the details will be added later.

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
[cid:image001.jpg@01D4EF9B.40770BE0]
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
E:

[2019-04-10 16:46] KellyeDC-zz commented on #721
Back button in CE or GA is in the current sprint.  The team is working on this now.

Thanks,

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
[cid:image001.jpg@01D4EF9B.72CF61F0]
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
E: bennettk@lsc.gov<mailto:bennettk@lsc.gov>

From: Jada Breegle <notifications@github.com>
Sent: Wednesday

[2019-04-10 17:02] KellyeDC-zz opened #933 "Add User/Persona - End User/Platform User Representative"
Description: A representative for someone accessing the platform on behalf of another to get general or personalized civil, legal information or assistance; permissions needed TBD

Examples: A librarian assisting someone who otherwise has no access to a computer/internet; Trusted relative/friend that is more computer savvy than the user

[2019-04-10 17:05] KellyeDC-zz opened #934 "Add User/Persona - Reporting BI User"
Description: Reports only access; evaluation purposes

Examples: Access to standard reports; access to ad hoc reports TBD

[2019-04-10 17:08] KellyeDC-zz opened #935 "Add User/Persona - Component User"
Description: Administrative user with limited access; specified modular or components of the platform (as a viewer)

Examples: Personalized Action Plan: LUIS

[2019-04-10 17:36] KellyeDC-zz commented on #792
@svasylenko Have we reassessed this issue, since we received files from the pilot states?

[2019-04-10 17:42] KellyeDC-zz commented on #34
@breeglej and @grawdon Adding to objective list to revisit "about" page and update components of that page.  Once details are defined, we can prioritize this issue.

[2019-04-10 18:22] lbirdpew commented on #721
Does this include a back button for when I click out of the site from the action plan?

[2019-04-10 18:59] KellyeDC-zz commented on #721
The desired behavior is for a new window to load when user clicks on an external link, which would in theory maintain the step the user is in within the Guided Assist (CE).

[2019-04-10 19:37] KellyeDC-zz commented on #801
@svasylenko Please provide access to admin screen for testing.

[2019-04-10 19:44] KellyeDC-zz commented on #730
All three environments in place. Dev/Stage/Prod.  Currently, PROD is not available until soft launch.  However, it will be maintained and updated until then.

[2019-04-10 19:44] #730 closed

[2019-04-10 19:45] lbirdpew commented on #721
yeah, that's not currently happening.  I just tried the domestic violence flow in AK

[2019-04-10 19:46] KellyeDC-zz commented on #804
Issues cloned and added manually to LSC GitHub. (manual items in spreadsheet)

[2019-04-10 19:46] #828 closed, assigned to KellyeDC-zz

[2019-04-10 19:49] KellyeDC-zz commented on #382
@grawdon Breadcrumbs issues were submitted by the states.  Please review for expected behavior.

[2019-04-10 19:55] KellyeDC-zz commented on #721
@lbirdpew This issue is "In Progress" and the development team is currently working on the fix in the development environment for this sprint.  Once resolved, it will be assigned to me for testing.  If you'd like to be included in testing, please let me know.  Once the fix is completed, the new code will be migrated to the stage environment and available for other stakeholders to review.  The spri

[2019-04-10 19:56] lbirdpew commented on #721
No worries, i was just curious if there was another issue for it.

[2019-04-10 20:37] KellyeDC-zz commented on #448
@grawdon Is this a valid requirement?  I recall the stakeholders requesting a different sequence.

[2019-04-10 20:45] KellyeDC-zz commented on #635
Reviewed and confirmed complete

[2019-04-10 20:45] #635 closed

[2019-04-10 20:48] KellyeDC-zz commented on #521
@grawdon Is this a valid defect?

[2019-04-10 20:50] KellyeDC-zz commented on #315
@breeglej @grawdon Is this language translation?  This is a task.  If this is for language translation for content, we can add a bug to fix the stakeholder reported issues.

[2019-04-10 20:52] KellyeDC-zz commented on #756
Need to revisit with SMEs to confirm. @grawdon

[2019-04-11 11:38] svasylenko commented on #801
You have to have admin privileges (just added to you) to see that menu bar.

![image](https://user-images.githubusercontent.com/46557859/55954477-7670c680-5c67-11e9-801b-52286791b218.png)

@KellyeDC

[2019-04-12 07:12] svasylenko commented on #481
@breeglej  Jada, please look in details on screenshot above: it is not autocomplete only. How it is supposed to work: you enter the symbol to search box -> we send autocomplete request to bing, after we receive an answer -> we run Louis to define your intent, after intent is defined -> we need to look in DB what articles and topics we have to render second half of popup. And this is done with ever

[2019-04-12 07:17] svasylenko commented on #792
@KellyeDC not sure what we should reassess. No changes to be done on our side and if initial file is correct - it is uploaded properly.

[2019-04-12 13:33] KellyeDC-zz commented on #506
Same as Issue #721

[2019-04-12 13:49] KellyeDC-zz commented on #33
LSC to provide the language for 'safe browsing' notice, if needed.

[2019-04-12 13:55] KellyeDC-zz opened #936 "As a system, when a user clicks on an external link, open a new window"
As a system, when a user clicks on an external link, open a new window

[2019-04-12 14:02] breeglej commented on #926
@KellyeDC - I'd suggest moving this to high priority.  We need it for a successful pilot.

[2019-04-12 14:06] breeglej commented on #923
@KellyeDC - I would put this in high priority.  We need to fix before pilot.

[2019-04-12 14:50] breeglej commented on #925
@KellyeDC - I need a little more information about this one.  The PAP is supposed to be the output of the guided assist.  So, I don't understand the request to toggle between the two.

[2019-04-12 14:51] breeglej commented on #924
@KellyeDC - Because this appears to be a design change, I'd like to save it for the advisory board and put it on the first agenda.

[2019-04-12 14:53] breeglej commented on #922
@KellyeDC  - This sounds like an easy fix.  We should just go ahead and do it.  If Glorium says it is not easy, we should reconsider.

[2019-04-12 14:55] breeglej commented on #921
@KellyeDC - We'll need to talk more about this one.  It is pretty normal that when you download something it both opens so you can save it and saves to your download file.

[2019-04-12 14:57] breeglej commented on #920
@KellyeDC  - The topics not being related is a function of the NLP lack of training.  I don't think there is anything to fix there and we'll have to wait for NLP to mature.  On the singular/plural issue, we should just fix if it is straightforward and doesn't take much developer time.

[2019-04-12 14:59] breeglej commented on #919
@KellyeDC - On this one, can you document what is happening?  If it is not intuitive where you go to find the PAP, we should come up with an easy way to fix (i.e. instructions that pop-up, FAQ, etc.).

[2019-04-12 15:02] breeglej commented on #918
@KellyeDC  - While I tend to agree that the articles & resources that come up on this page are unhelpful, this is a design change.  I'd like to flag for a governance board decision.

[2019-04-12 15:04] breeglej commented on #917
@KellyeDC - I'd like to throw this one out.  The bar at the top is a placebo and was never programmed to accurately show where you are in the guided assist.  This is not important to tackle before pilot.

[2019-04-12 15:07] breeglej commented on #916
@KellyeDC  - I don't want to entertain a new option to quit and get my PAP right now.  However the rest of this seems to be a duplicate of #926

[2019-04-12 15:08] breeglej commented on #915
@KellyeDC - I agree that this was an unfortunate design choice, but I don't want to redesign before pilot.

[2019-04-12 15:09] breeglej commented on #914
@KellyeDC - This seems to be a duplicate to #918

[2019-04-12 15:11] breeglej commented on #913
@KellyeDC - We should fix this.  Please use whatever Stacey wants to use (logo or text).

[2019-04-12 15:13] breeglej commented on #912
@KellyeDC - I think we should mark this as high priority.

[2019-04-12 15:24] breeglej commented on #911
@KellyeDC - I think this is saying that webpages are not actually live links in LN.  Tried to attach screanshot showing the problem on one page.  This needs to be high priority.  As an end user, I need to be able to click on all links and be directed to the site in another window.  Perhaps this gets fixed with that story.

![Capture](https://user-images.githubusercontent.com/42586446/56048066-b6da

[2019-04-12 15:25] breeglej commented on #910
@KellyeDC - I need more information on this one and it might be a design change.

[2019-04-12 15:27] breeglej commented on #909
@KellyeDC  - This is a duplicate of #911 , it's just more specific.  We need to do a universal fix on all URLs being live.  This is a high priority.

[2019-04-12 15:28] breeglej commented on #908
@KellyeDC - This is a duplicate of #911  , it's just more specific. We need to do a universal fix on all URLs being live. This is a high priority.

[2019-04-12 15:57] #914 closed, assigned to KellyeDC-zz

[2019-04-12 16:08] KellyeDC-zz commented on #909
Once all related items are fixed, I will close all defects referenced.

[2019-04-12 16:09] KellyeDC-zz commented on #911
Once all related items are fixed, I will close all defects referenced.

[2019-04-12 17:14] breeglej commented on #907
@KellyeDC - I think this is the question we’ve answering over the last couple days.  We will allow states to write curated experiences at child level 2.  I don’t think this belongs in defects.

[2019-04-12 17:15] breeglej commented on #906
@KellyeDC -  this is a design change.  We can save this one for governance board.

[2019-04-12 17:16] breeglej commented on #905
@KellyeDC - If we can add this just to Alaska, we should do it.  Please find out if that’s possible.

[2019-04-12 17:18] breeglej commented on #904
@KellyeDC - Is this the search problem.  If so, how much has been fixed?

[2019-04-12 17:19] KellyeDC commented on #907
@breeglej Once the development plan for resolving the authoring and NLP disconnect, this issue can be closed.

[2019-04-12 17:19] breeglej commented on #903
@KellyeDC - I think this is a design change and I’d like to tee it up for the first governance meeting.

[2019-04-12 17:25] breeglej commented on #902
@KellyeDC - This sounds like a good idea.  Can you find out how much work this is?  It could help because NLP is not at a good level.

[2019-04-12 17:26] breeglej commented on #901
@KellyeDC - This seems just like #902 .

[2019-04-12 17:28] breeglej commented on #900
@KellyeDC - Have there been any suggestions on how to organize.  I think this is worthwhile but we’d have to talk about how to organize before we ask Glorium to do any work.

[2019-04-12 17:29] breeglej commented on #898
@KellyeDC - Agree.  Please find out how difficult this would be.

[2019-04-12 17:31] KellyeDC-zz commented on #904
Will discuss with @svasylenko during Sprint Planning

[2019-04-12 17:32] breeglej commented on #897
@KellyeDC - This relates to our discussion in February about where to put social services from 211 and where to put our orgs.  Please refer back to the meeting notes for the discussion and decision.

[2019-04-12 17:34] breeglej commented on #896
@KellyeDC -  This isn’t a defect.  It’s a question.  What have you found out about it?

[2019-04-12 17:35] #901 closed, assigned to KellyeDC-zz

[2019-04-12 17:35] breeglej commented on #894
@KellyeDC - This needs more information.  I can’t tell if there is a defect.

[2019-04-12 17:36] breeglej commented on #895
@KellyeDC - need examples to better understand this problem

[2019-04-12 17:41] breeglej commented on #77
@KellyeDC -  I agree that this is not done.  We need to get this fixed.  It’s also in the defect log.

[2019-04-12 17:43] breeglej commented on #469
@KellyeDC - We should definitely fix this.  We can’t go to pilot as is.

[2019-04-12 17:44] KellyeDC-zz commented on #896
@breeglej All feedback received from the states and stakeholders are maintained here.  Please let me know if this is not your preference.  Once reviewed, it is triaged as either a backlog item to be moved to the backlog project or a defect to be prioritized.

The DEV team and I have briefly discussed "keywords" and I asked @svasylenko where "keywords" are stored.  I know that they are provided wit

[2019-04-12 17:45] breeglej commented on #724
@KellyeDC - I don’t understand this issue.

[2019-04-12 17:46] breeglej commented on #801
@KellyeDC - have you been able to test this one?

[2019-04-12 20:27] KellyeDC-zz opened #937 "Call the Microsoft API and pull in the "real name" of the resource and the GUID"
Authors would be able to select the "real name" and the GUID would be inserted into the template in the format needed by the Legal Navigator viewer. Although this enhancement has been completed on the a2J Author side, it has not functioned properly, since the cutover to LSC/Glorium.

Background:
Topic_ID* –System-generated unique identifier (ID) for each topic.  Also used to map resources in the R

[2019-04-12 20:33] KellyeDC-zz opened #938 "Develop authentication/access for Legal Navigator users to “publish” - A2J Author Publish button"
Consideration:  As is, any A2J Author “author” could publish to Legal Navigator, as there are currently no restrictions.  Only requires an A2J Author log-in.

[2019-04-12 20:35] KellyeDC-zz opened #939 "Develop or implement tool to “unzip” json files - A2J Author Publish button"
Develop or implement tool to “unzip” json files - A2J Author Publish button

[2019-04-12 20:38] KellyeDC-zz opened #940 "Determine WHERE these files should be uploaded to (i.e. url, environment)"
Define specifically where we want json files uploaded into Cosmos DB to include environment and specify Legal Navigator url for CALI

[2019-04-12 20:42] KellyeDC-zz opened #941 "Allow content authors to "self publish""
Finalize A2J Author Code to push to Legal Navigator, allowing content author to publish content to Legal Navigator, review, update and re-upload.

Coordinate with A2J Author/CALI development team to complete all tasks related to this issue.

[2019-04-12 20:44] KellyeDC-zz opened #942 "Create a new A2J Template option that would automatically format the template elements"
Create new A2J Template option that would automatically format the template elements in the way the Legal Navigator parser requires for the Personalized Action Plan. It is my understanding that this enhancement was completed in December and requires no further development on either side.

[2019-04-12 20:47] KellyeDC-zz commented on #942
According to demo provided by Jeannie Sato (AK Courts), it appears that this functionality has not been deployed.  We need to work with CALI/A2J Author to resolve.

[2019-04-13 20:48] breeglej commented on #587
@KellyeDC - This should go in back burner issues.  We don’t need to do this before pilot.

[2019-04-15 12:12] breeglej commented on #937
@KellyeDC - I agree that we should do this.  When there is room, we should place it in a sprint.

[2019-04-15 13:22] breeglej commented on #801
@KellyeDC  - We're not sure this is something we need to be working on right now.  We're very far from onboarding a new state and we don't yet know what onboarding should look like.

[2019-04-15 13:41] breeglej commented on #902
@KellyeDC - Let's wait on this until we can discuss with governance board.

[2019-04-15 13:49] breeglej commented on #912
@KellyeDC  - Can we find out how it's done today (i.e. how does it get in the order)? I think we need more information.

[2019-04-15 13:52] breeglej commented on #920
@KellyeDC - Let's fix this with a Topic(s)

[2019-04-15 16:34] breeglej commented on #940
@KellyeDC - I marked this as high priority because I think we need to fix all the unfinished or broken things with A2J author as quickly as possible.

[2019-04-17 13:00] breeglej commented on #127
@KellyeDC - This is not a priority for pilot.

[2019-04-17 13:01] breeglej commented on #128
@KellyeDC - This is not a priority for pilot.

[2019-04-17 13:02] breeglej commented on #281
@KellyeDC - This is definitely not  a priority for pilot.

[2019-04-17 13:04] breeglej commented on #942
@KellyeDC  - We need to fix this.

[2019-04-17 13:07] KellyeDC-zz commented on #63
@svasylenko What is the status of this issue?  Are there impediments to discuss?

[2019-04-17 13:07] breeglej commented on #941
@KellyeDC - I need to understand this one a little better.

[2019-04-17 13:08] breeglej commented on #938
@KellyeDC  - This seems like new functionality that is not needed for pilot.

[2019-04-17 13:09] breeglej commented on #939
@KellyeDC  - I need to understand this more.

[2019-04-17 13:10] breeglej commented on #294
@KellyeDC  - This sounds easy and a standard thing that we should do.  I don't understand why MS left this undone.

[2019-04-17 13:12] breeglej commented on #619
@KellyeDC  - While this sounds like a standard thing that MS should have put in place, I don't think it is necessary for pilot.

[2019-04-17 13:15] breeglej commented on #642
@KellyeDC  - Sounds nice, but not needed for pilot.

[2019-04-17 13:16] breeglej commented on #621
@KellyeDC  - I don't think this is needed for pilot.

[2019-04-17 13:17] breeglej commented on #346
@KellyeDC  - Need to make share work before we work on an un-share feature.

[2019-04-17 13:19] breeglej commented on #120
@KellyeDC  - Not needed for pilot.  This is an enhancement.

[2019-04-17 13:20] breeglej commented on #671
@KellyeDC  - This seems like a good idea but not necessary for pilot.

[2019-04-17 13:21] breeglej commented on #463
@KellyeDC - This is not a development issue as written.  I'm marking as on hold as I don't believe it's a high priority issue to worry about for pilot.

[2019-04-17 13:23] breeglej commented on #109
@KellyeDC - This is new functionality that is not needed for pilot.

[2019-04-17 13:23] breeglej commented on #75
@KellyeDC - This is not needed for pilot.

[2019-04-17 13:25] breeglej commented on #92
@KellyeDC  - This is not needed for pilot.

[2019-04-17 13:25] breeglej commented on #103
@KellyeDC  - This is definitely not needed for pilot.

[2019-04-17 13:26] breeglej commented on #35
@KellyeDC  - While I would like to have this, it is not necessary for pilot.

[2019-04-17 13:27] breeglej commented on #81
@KellyeDC  - This is additional functionality that is not needed for pilot.

[2019-04-17 13:28] #129 closed

[2019-04-17 13:28] breeglej commented on #42
@KellyeDC  - Let's table this story in favor of the requirements for evaluation.

[2019-04-17 13:30] breeglej commented on #70
@KellyeDC  - I need more information about this one.  We are relying on other services for passwords and account information.

[2019-04-17 15:42] breeglej commented on #110
@KellyeDC - we don’t need this for pilot.

[2019-04-17 15:44] breeglej commented on #108
@KellyeDC  We don’t need this for pilot.

[2019-04-17 15:46] breeglej commented on #612
@KellyeDC - This doesn’t have to be done for pilot.

[2019-04-17 15:46] #612 closed

[2019-04-18 17:30] JessicaFrank commented on #942
Will be in the next A2J Author code push. Expected last week of April/1st week of May.

[2019-04-19 18:26] KellyeDC-zz commented on #942
Once confirmed with states, we can close issue.

[2019-04-19 18:30] KellyeDC-zz opened #943 "Allow platform (end) user to save multiple personalized action plans to profile and have access to refer back to these plans as needed"
Allow platform (end) user to save multiple personalized action plans to profile and have access to refer back to these plans as needed

[2019-04-19 18:33] KellyeDC-zz opened #944 "Develop an error report for json load failures"
Develop an error report for json load failures

A.C.

(1) Develop standard error code messages
(2) Create extract for failed uploads so that state administrators can edit the A2J Author file and create new json file

[2019-04-19 18:38] KellyeDC-zz opened #945 "Update Personalized Action Plan to Online View"
Update Personalized Action Plan to Online View

- Look and feel

- Format

- Font size and spacing

[2019-04-19 18:40] KellyeDC-zz opened #946 "Remove "Completed" from the Personalized Action Plan"
Remove "Completed" from the Personalized Action Plan

(1) Remove from online view
(2) Remove from pdf/download

[2019-04-23 16:31] KellyeDC-zz commented on #129
KB Reviewed - Not required.

[2019-04-23 16:32] KellyeDC-zz commented on #849
Issue reolved

[2019-04-23 16:32] KellyeDC-zz commented on #706
Not required for IE

[2019-04-23 16:35] KellyeDC-zz commented on #804
THese items still need to be added to our issue tracking in GitHub

[2019-04-23 16:41] KellyeDC-zz commented on #467
@grawdon Please review to make certain this is still desired behavior.

[2019-04-23 16:51] KellyeDC-zz commented on #473
@grawdon Please confirm that this behavior is still desired.

[2019-04-23 17:04] KellyeDC-zz commented on #315
@breeglej and @grawdon Is this required for pilot?

[2019-04-23 18:36] KellyeDC-zz commented on #448
No longer a requirement.  Per PO, the most relevant/referenced/utilized topic will be listed first and descend from there.

[2019-04-23 18:45] KellyeDC-zz commented on #724
@svasylenko Please explain this issue for us.

[2019-04-23 21:22] KellyeDC-zz commented on #350
@grawdon Is this a high priority?

[2019-04-23 21:26] KellyeDC-zz commented on #346
#77 Related to this feature.

[2019-04-23 22:13] KellyeDC-zz commented on #859
@grawdon and @breeglej Is this for tagging content later? (based on the latest decision)

[2019-04-23 22:16] KellyeDC-zz commented on #861
Is this for tagging only?

[2019-04-24 11:48] svasylenko commented on #905
@breeglej Jada, could you please suggest shall we add Hawaii Court System logo as well?

[2019-04-24 12:15] breeglej commented on #905
@svasylenko - I didn't see an answer to my question.  Can this logo be added only to Alaska personal action plans?

[2019-04-24 15:12] svasylenko commented on #911
this to be fixed on stage only since fixing on dev requires much more time and no real need for that.

[2019-04-24 15:22] KellyeDC-zz commented on #590
@grawdon aand @breeglej Is ths needed for pilot?

[2019-04-24 15:24] KellyeDC-zz commented on #700
Is this a desired feature to complement geocoding changes @grawdon and @breeglej ?

[2019-04-24 23:15] KellyeDC-zz commented on #548
@grawdon Is there a preference for viewing videos?

[2019-04-24 23:21] KellyeDC-zz commented on #257
Issue resolved

[2019-04-24 23:21] #257 closed

[2019-04-24 23:26] #791 closed

[2019-04-24 23:27] #572 closed

[2019-04-24 23:28] #573 closed

[2019-04-24 23:34] KellyeDC-zz commented on #102
@grawdon Have the states had the opportunity to review/confirm?

[2019-04-24 23:35] KellyeDC-zz commented on #101
@grawdon Have the states had the opportunity to approve/confirm?

[2019-04-24 23:42] KellyeDC-zz commented on #105
@grawdon and @breeglej We are maintaining this via customsearch.ai.  Does this "satisfy" this requirement or should we add this functionality into the state admin portal?

[2019-04-24 23:52] KellyeDC-zz commented on #62
@grawdon and @breeglej Is this "complete"?  Are these features to be further developed over time?

[2019-04-25 12:05] breeglej commented on #679
@KellyeDC - Did you assign this to me so that I would check to see if it is completed?  If so, in my limited testing it appears to be completed.

[2019-04-25 12:06] breeglej commented on #548
@KellyeDC - Videos appear to be fixed.

[2019-04-25 12:13] svasylenko commented on #905
@breeglej yes, Jada - this could be added to Alaska only.

[2019-04-25 12:18] breeglej commented on #177
@KellyeDC @grawdon - There still appear to be issues.  I tested the following after logging in:
1. Save - Nothing happens
2. Share - send link - I could enter my email address and it appeared to do something but no email arrived in my inbox with the link.  I tried both my lsc and gmail emails.
3. Share - copy link - I successfully copied the link and pasted it into a new browser, but the page cont

[2019-04-25 12:20] breeglej commented on #905
@KellyeDC - This is a question for you.  Please find out from Nalani if she wants a logo added to the Hawaii PAPs.  It wouldn't be the courts logo, but maybe Nalani's logo.

[2019-04-25 12:22] breeglej commented on #62
@KellyeDC @grawdon  - I don't see what else we could do with this right now.  We will have to add to the FAQs over time.

[2019-04-25 12:24] breeglej commented on #64
@KellyeDC @grawdon - Where are the support organizations supposed to appear?  What are we testing here?

[2019-04-25 12:26] breeglej commented on #105
@KellyeDC @grawdon - I think this functionality should be added into the state admin portal, but this is not until after pilot.

[2019-04-25 12:27] breeglej commented on #130
@KellyeDC @grawdon  - While it appears that the functionality is working correctly, we still need to add an actual privacy promise.

[2019-04-25 12:29] breeglej commented on #104
@KellyeDC @grawdon - I don't know how to test this.  Where is there an organization that can show on a map?

[2019-04-25 12:42] breeglej commented on #856
@KellyeDC @grawdon - Are we testing this one or trying to answer the question about YouTube videos.  Need more information before I can do anything.

[2019-04-25 12:52] breeglej commented on #597
@KellyeDC @grawdon - I don't know what would be involved in fixing this, but it sounds like something that is not needed before pilot and should be put on hold.  I could be persuaded otherwise.

[2019-04-25 12:54] breeglej commented on #700
@KellyeDC @grawdon - This doesn't sound like something that needs to be done before pilot.  I'd put on hold.

[2019-04-25 13:06] breeglej commented on #595
@KellyeDC @grawdon - I don't think this is something that we need to do for pilot.  I'd suggest putting it on hold.

[2019-04-25 13:07] breeglej commented on #590
@KellyeDC @grawdon - I don't think this is needed for pilot.  I think we should put it on hold.

[2019-04-25 16:36] KellyeDC-zz commented on #184
@svasylenko Were you able to reproduce this defect?  I believe this needs to be revisited.  Please confirm.

[2019-04-25 16:38] KellyeDC-zz commented on #89
Can this be resolved by updating utterances @grawdon and @breeglej ?

[2019-04-25 16:40] KellyeDC-zz commented on #303
Confirmed resolved

[2019-04-25 16:40] #303 closed

[2019-04-25 16:43] KellyeDC-zz commented on #113
May require additional testing once search enhancements are completed.

[2019-04-25 16:45] KellyeDC-zz commented on #415
Issue resolved

[2019-04-25 16:45] #415 closed

[2019-04-25 16:47] KellyeDC-zz commented on #191
Issue resolved

[2019-04-25 16:47] #191 closed

[2019-04-25 16:50] KellyeDC-zz commented on #711
Issue resolved

[2019-04-25 16:50] #711 closed

[2019-04-25 16:51] KellyeDC-zz commented on #445
@KellyeDC to check with states for validation.

[2019-04-25 16:59] KellyeDC-zz commented on #695
Issue resolved

[2019-04-25 16:59] #695 closed

[2019-04-25 17:02] KellyeDC-zz commented on #208
Issue resolved

[2019-04-25 17:02] #208 closed

[2019-04-25 17:05] KellyeDC-zz commented on #232
Issue resolved

[2019-04-25 17:05] #232 closed

[2019-04-25 17:06] KellyeDC-zz commented on #247
Issue resolved

[2019-04-25 17:06] #247 closed

[2019-04-25 17:51] KellyeDC-zz commented on #61
Google translator has been integrated to the platform, however, there my be additional updates to account for the legal content. Please advise @grawdon

[2019-04-25 17:53] #43 closed

[2019-04-25 18:01] KellyeDC-zz commented on #124
Please confirm that this is complete @svsylenko

[2019-04-25 18:05] KellyeDC-zz commented on #56
@grawdon and @breeglej  Let's review and determine if we need to create user stories to update the filters for search results.

[2019-04-25 18:10] KellyeDC-zz commented on #121
Does this require further enhancements or do we account for variations in utterances? @breeglej and @grawdon

[2019-04-25 18:14] KellyeDC-zz commented on #679
@breeglej No, it's only assigned to you as a "watcher".  This is merely preparation for sprint planning  and identified as a candidate for the next sprint.

[2019-04-25 18:15] KellyeDC-zz commented on #548
@breeglej The question is rather or not we want the videos embedded in the platform or linked out to YouTube for viewing.

[2019-04-25 18:24] KellyeDC-zz commented on #905
@breeglej I think the Hawaii logo is already on the personalized action plan.  It is available but appears to have a defect when downloaded @svasylenko

[2019-04-25 18:29] KellyeDC-zz commented on #126
@grawdon Should we get David to take a look at this to confirm?

[2019-04-25 18:32] KellyeDC-zz commented on #177
Correct @breeglej   I returned this to the backlog because it wasn't resolved and failed testing but needs to be prioritized.  We can move this to candidate for next sprint.

[2019-04-25 18:34] KellyeDC-zz commented on #905
The logo is already there on the HI side.  It is missing from the AK side.

Regards,

KB

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
[cid:image001.jpg@01D4FB73.EA337A40]
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
E: bennettk@lsc.gov<mailto:bennettk@lsc.gov>

From: Jada Breegle <notifications@github.com>
Sent: Thursday, Apr

[2019-04-25 18:35] KellyeDC-zz commented on #62
Agreed.  Should we add a placeholder to continue Q&A development?

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
[cid:image001.jpg@01D4FB74.11D4BDC0]
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
E: bennettk@lsc.gov<mailto:bennettk@lsc.gov>

From: Jada Breegle <notifications@github.com>
Sent: Thursday, April 25, 2019 8:22 AM
To:

[2019-04-25 18:37] KellyeDC-zz commented on #64
@breeglej Currently, I think the organizations might not be lists in the most meaningful way to the user.  I believe it is alphabetically for each area (zip code). @svasylenko Please confirm.

[2019-04-25 18:57] breeglej commented on #62
@KellyeDC - It might be more of a task in our Smartsheet as it is not development.

[2019-04-25 18:58] KellyeDC-zz commented on #62
Thanks! I’ll add it

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Jada Breegle <notifications@github.com>
Sent: Thursday, April 25, 2019 2:57 PM
To: LSCOIT/LegalNavigator
Cc: Kellye Bennett; Mention
Subject: Re: [LSCOIT/LegalNavigator] As Portal User, I need to access Help and FAQ session so that I can see if my question about the portal has already been addre

[2019-04-25 18:59] breeglej commented on #905
@KellyeDC - Thanks!  Got it.

[2019-04-25 19:01] breeglej commented on #126
@KellyeDC @grawdon - I'm not sure we should do any more work on this.  David has already said that the NLP engine is not suitable and he is building a new one.

[2019-04-25 19:03] KellyeDC-zz commented on #126
Resolved

[2019-04-25 19:03] #126 closed

[2019-04-25 19:03] breeglej commented on #548
@KellyeDC - I think it's fine the way it is right now in dev.  I don't think we should spend any additional time on this.

[2019-04-25 19:05] breeglej commented on #121
@KellyeDC @grawdon - I don't think we should do any additional work on this.  We can account for some differences in utterances and the solution is changing out the engine with the one that David builds.

[2019-04-26 14:28] KellyeDC-zz commented on #360
@svasylenko Please confirm that this is complete.

[2019-04-26 14:57] KellyeDC-zz commented on #424
@svasylenko Please validate this for us.

[2019-04-26 15:05] KellyeDC-zz commented on #443
@svasylenko Please validate that this is complete.

[2019-04-26 15:10] KellyeDC-zz commented on #524
@svasylenko Please validate completion.

[2019-04-26 15:11] KellyeDC-zz commented on #271
@svasylenko Please validate completed.

[2019-04-26 15:13] KellyeDC-zz commented on #256
@svasylenko Are these tests being used by the team?  If not, please close.

[2019-04-26 15:14] KellyeDC-zz commented on #207
Issue resolved/complete

[2019-04-26 15:14] #207 closed

[2019-04-26 15:15] #206 closed

[2019-04-26 15:20] KellyeDC-zz commented on #216
Issue resolved/complete.

[2019-04-26 15:20] #216 closed

[2019-04-26 15:23] KellyeDC-zz commented on #215
Issue resolved/completed

[2019-04-26 15:23] #215 closed

[2019-04-26 15:25] KellyeDC-zz commented on #197
@grawdon and @breegDo we need to reverse this considering new user profile requirements

[2019-04-26 15:27] KellyeDC-zz commented on #316
Resolved/completed

[2019-04-26 15:27] #316 closed

[2019-04-26 17:16] KellyeDC-zz commented on #328
@svasylenko Where is this in the UI?

[2019-04-26 17:18] KellyeDC-zz commented on #596
Resolved/closed

[2019-04-26 17:18] #596 closed

[2019-04-26 18:10] KellyeDC-zz commented on #591
Resolved/complete

[2019-04-26 18:10] #591 closed

[2019-04-29 12:42] KellyeDC-zz commented on #904
@svasylenko Please review to confirm issue resolution from changes made to search functionality.

[2019-04-29 17:37] KellyeDC-zz commented on #120
Not sure of intent for this user story.

[2019-04-29 17:37] #120 closed

[2019-04-29 17:42] KellyeDC-zz commented on #940
LSC determined the location for content uploads for guided interviews should be maintained in the stage environment of the Cosmos DB.

[2019-04-29 17:43] KellyeDC-zz commented on #940
@johnmayer We need to check with the team to understand the significance of A2J Author knowing the location of json files, maintained in LegalNav.

[2019-04-29 17:56] KellyeDC-zz opened #949 "Revert UI for Guided Assist navigation back to "Yes" and "No" and remove the symbols used for yes/no"
Revert UI for Guided Assist navigation back to "Yes" and "No" and remove the symbols

See issue #679 and maintain the changes made to the radio buttons.  This is ONLY for the "yes/no" questions in guided assist.

[2019-04-29 17:58] KellyeDC-zz commented on #679
Issue #949 created to revert back to "Yes" and "No" in guided assist.

[2019-04-29 17:58] #679 closed

[2019-04-30 12:18] svasylenko commented on #505
We have to wait for such CE to test it. All development is done.

[2019-04-30 12:34] svasylenko commented on #793
@KellyeDC shall we put this on hold (and move out of sprint)?

[2019-04-30 12:37] svasylenko commented on #443
This task relates to creation of LN API to pull data from a2j.

[2019-04-30 12:37] svasylenko commented on #524
This task relates to creation of LN API to pull data from a2j.

[2019-04-30 12:52] svasylenko commented on #949
Already implemented.

![image](https://user-images.githubusercontent.com/46557859/56962701-dcae8200-6b5f-11e9-9d20-ea0a1879a66e.png)

@KellyeDC shall we close this ticket?

[2019-04-30 14:11] KellyeDC-zz commented on #793
@svasylenko Yes, please

[2019-04-30 14:36] KellyeDC-zz commented on #505
Considering that LN does not currently support ELSE clauses, do you want to close this or back burner @breeglej and @grawdon ?

[2019-04-30 14:55] KellyeDC-zz commented on #949
Assign for Review @svasylenko

[2019-04-30 14:57] KellyeDC-zz commented on #922
@svasylenko Is this ready for me to review?

[2019-04-30 15:29] svasylenko commented on #922
@KellyeDC yes, please put something to search box.

[2019-04-30 20:47] KellyeDC-zz commented on #894
When a user is using a mobile device to view legal navigator, it does not accurately identify location

[2019-05-01 17:50] KellyeDC-zz commented on #920
Logic updated to display **topics** when multiple suggestions are offered and **topic** when a singe suggestion is offered.
<img width="773" alt="#920 Topic Singular with multiple suggetions STAGE" src="https://user-images.githubusercontent.com/45771252/57032328-19d64b00-6c18-11e9-8d82-513179c8c8da.PNG">
<img width="786" alt="#920 Topics Plural when multiple topics are suggested DEV" src="https://

[2019-05-01 17:56] KellyeDC-zz commented on #898
"Additional Readings" has been appropriately moved to the end of the resources results page.
<img width="912" alt="Additional REadings Moved to end of page DEV" src="https://user-images.githubusercontent.com/45771252/57032625-daf4c500-6c18-11e9-8044-7242b94ff6c4.PNG">
<img width="855" alt="Additional Readings STAGE" src="https://user-images.githubusercontent.com/45771252/57032630-dd571f00-6c18-11e

[2019-05-01 17:59] KellyeDC-zz commented on #936
Issue resolved.  When a user navigates to an external site, a new window is opened.

Please use the dev environment to confirm.

[2019-05-01 18:38] KellyeDC-zz commented on #922
Searched in both environments and very different results.  Also, I did not see the update in DEV.  Was the update pushed to STAGE already?

[2019-05-01 18:45] KellyeDC-zz commented on #913
Logo is not viewable in the pdf download.

[2019-05-01 20:27] #143 closed

[2019-05-01 20:28] #14 closed

[2019-05-01 20:29] #15 closed

[2019-05-01 21:04] #738 closed

[2019-05-01 21:06] KellyeDC-zz commented on #314
@svasylenko Please confirm complete.

[2019-05-01 21:08] #304 closed

[2019-05-01 21:09] #799 closed

[2019-05-01 21:15] KellyeDC-zz commented on #739
@grawdon Do we need to update this to prioritize display based on relevance?  Do we provide this option to filter alphabetically?

[2019-05-01 21:27] KellyeDC-zz commented on #726
@svasylenko The defect is in the "More Topics Related to.........."  It's supposed to fill in the blank with the appropriate parent topic.

[2019-05-01 21:34] #309 closed

[2019-05-02 12:44] svasylenko commented on #937
https://api-dev.legalnav.org/api/topics-resources/resources?state=AK&topicName=Divorce
https://api-dev.legalnav.org/api/topics-resources/topics?state=AK

[2019-05-02 12:47] svasylenko commented on #940
![image](https://user-images.githubusercontent.com/46557859/57076131-883b0c00-6cf1-11e9-9c5f-d8b6610b9dcd.png)

[2019-05-02 18:48] KellyeDC-zz commented on #875
On 5/1/2019, LSC decided to use NSMI v2 for content developed at the Parent and Child 1 level.

NOTE: UI is planned for development to allow states to author at the child 2 level, if desired.

Link to NSMI v2 codes: https://nsmi.lsntap.org/browse-v2

[2019-05-02 18:49] KellyeDC-zz commented on #865
Link to NSMI v2 codes: https://nsmi.lsntap.org/browse-v2

[2019-05-02 18:50] KellyeDC-zz commented on #863
https://nsmi.lsntap.org/browse-v2

[2019-05-02 19:00] KellyeDC-zz commented on #857
On 5/1/2019, LSC decided to continue with NSMI v2 - https://nsmi.lsntap.org/browse-v2

[2019-05-02 19:00] KellyeDC-zz commented on #858
On 5/1/2019, LSC decided to continue with NSMI v2 - https://nsmi.lsntap.org/browse-v2

[2019-05-02 19:01] KellyeDC-zz commented on #864
Reference:- https://nsmi.lsntap.org/browse-v2

[2019-05-03 07:27] svasylenko commented on #940
@KellyeDC could you please provide more info in respect whether we should do something or not?

[2019-05-03 07:32] svasylenko commented on #863
@KellyeDC we will add for new content but what to do with already existing? Please suggest.

[2019-05-03 07:35] svasylenko commented on #911
Done in Dev - @KellyeDC  please suggest moving to Stage

[2019-05-03 07:42] svasylenko commented on #922
@KellyeDC
Stage (not deployed yet):

![image](https://user-images.githubusercontent.com/46557859/57124878-09e17700-6d90-11e9-880b-ee1bd8ae9121.png)

Dev (already deployed):
![image](https://user-images.githubusercontent.com/46557859/57124904-1bc31a00-6d90-11e9-801a-d3d139b6ccb8.png)

[2019-05-03 11:52] KellyeDC-zz commented on #940
Per email sent to Jessica @ CALI, we are just awaiting confirmation on A2J Author's request.  Let's see if the information provided suffices.

[2019-05-03 11:54] KellyeDC-zz commented on #863
@svasylenko this task is assigned to me to complete for the state content matrix per the updated NSMI v2 Codes.  The matrix was developed earlier in the year by myself and state stakeholders.  There's nothing for the dev team to do on this issue.

[2019-05-03 11:56] KellyeDC-zz commented on #911
@svasylenko Requires PO approval.  Assign to me for testing and I will pass it on to @grawdon

[2019-05-03 11:58] KellyeDC-zz commented on #922
@svasylenko This issue remains unresolved.  We can discuss further at your convenience.

[2019-05-06 13:11] grawdon commented on #521
@KellyeDC Have we heard from either state that this is still an issue? The only way for us to test would be to do every Guided Assist with every permutation to see if it turned up. That's not practical.

[2019-05-06 13:21] grawdon commented on #473
@KellyeDC When I click on More Organizations now it isn't blank and shows these are for Hawaii. I think that is the desired behavior. I didn't see a More Articles option.

[2019-05-06 13:23] grawdon commented on #315
@KellyeDC and @breeglej No, I don't see this as needed for pilot. We might not want automatic translation for content as it could change the meaning and that is dangerous for legal information.

[2019-05-06 13:25] grawdon commented on #61
@KellyeDC See issue 315 for comment.

[2019-05-06 13:30] grawdon commented on #636
@KellyeDC I am not sure of the issue. The drop down in Chrome is a list users can scroll. Did the original design call for displaying them all at once? I would think this would be an issue for user testing to see of the current display is problematic.

[2019-05-06 13:34] grawdon commented on #382
@KellyeDC I tested several topics and the breadcrumbs worked for them all. It looked resolved to me.

[2019-05-06 13:38] grawdon commented on #724
@KellyeDC I tested this and it displayed fine in Incognito mode in Chrome.

![image](https://user-images.githubusercontent.com/46725623/57228766-32f54800-6fda-11e9-850a-e4e7952a40b0.png)

[2019-05-06 13:47] grawdon commented on #855
@KellyeDC How do I test this? I don't see an option to enter my zip code. It only lets me update by state. Even if I could enter a zip code, I won't know which topic areas have content geocoded down to the zip code.

[2019-05-06 13:51] grawdon commented on #34
@KellyeDC @breeglej I reviewed the FAQs and About page. Neither really offer the user a guide to how to use Legal Navigator. I think we need to beef up the Help page with a short tutorial.

[2019-05-06 13:59] grawdon commented on #467
@KellyeDC I clicked on the location icon and all I got was a listing for the program. Normally, clicking such an icon would give you a map view. I think that is desirable for LN.
![image](https://user-images.githubusercontent.com/46725623/57230078-232b3300-6fdd-11e9-97e1-23e4535264c4.png)
![image](https://user-images.githubusercontent.com/46725623/57230112-3938f380-6fdd-11e9-9769-59b0f6edfc4a.png)

[2019-05-06 14:04] grawdon commented on #101
@KellyeDC I believe they can do that now. They could start with an overview of eviction and then have more specific resources below.

![image](https://user-images.githubusercontent.com/46725623/57230405-e9a6f780-6fdd-11e9-98a5-3e6f50862ffd.png)

[2019-05-06 14:07] grawdon commented on #102
@KellyeDC I have not done this with the states. Maybe we should isolate all of  user stories dealing with content display format and review  with the states to be sure how LN is displaying information now meets the needs of the user. To me they seem to, but the states might think differently.

[2019-05-06 14:10] grawdon commented on #104
@KellyeDC @breeglej Isn't this the same as issue 467?

[2019-05-06 14:12] grawdon commented on #130
@KellyeDC @breeglej Yes. As to functionality, this issue is complete.

[2019-05-06 14:14] grawdon commented on #756
@KellyeDC The explanation sounds feasible. I can't see the database to confirm. We should be sure the SMEs know to do this so their resources are returned in search results.

[2019-05-06 14:17] grawdon commented on #920
@KellyeDC I thought we said to fix with "topic(s)". Were they able to make it dynamic so that is is "topic" if only one and "topics" if more than one?

[2019-05-06 14:24] grawdon commented on #898
@KellyeDC It looks to me like Additional Readings are still coming above Articles. But in my example below, the "readings" are more in the nature of "topics". We should discuss this on a call to be sure what change we need to make, if any.

![image](https://user-images.githubusercontent.com/46725623/57231750-c6317c00-6fe0-11e9-8643-f117578280f0.png)

[2019-05-06 14:30] grawdon commented on #936
@KellyeDC Yes, this worked in Dev. Thanks for pointing me to it.

[2019-05-06 14:31] grawdon commented on #898
@KellyeDC I verified this worked in dev.

[2019-05-06 14:34] grawdon commented on #739
@KellyeDC I think displaying by relevance negates the need to do this work, although we did decide they should be alphabetical within the relevance layer. But I think we should get it sorting by relevance first and then see if there is an issue within those layers.

[2019-05-06 20:20] KellyeDC-zz commented on #827
@grawdon I have reviewed this update.  I think we are working on changing this to rank.

[2019-05-06 20:20] KellyeDC-zz commented on #351
Ready for PO review

[2019-05-06 20:23] KellyeDC-zz commented on #438
Requires testing, once content is added and concept approved. Moving to backlog.

[2019-05-06 20:39] KellyeDC-zz commented on #911
It is working fine in the DEV environment. Ready for PO review.

[2019-05-06 20:41] KellyeDC-zz commented on #905
@svasylenko How do we navigate to this screen?

[2019-05-06 20:48] KellyeDC-zz commented on #575
Moving to DONE if we cannot reproduce it.

[2019-05-07 15:12] #739 closed

[2019-05-07 15:12] #936 closed, assigned to grawdon

[2019-05-07 15:12] #898 closed, assigned to grawdon

[2019-05-07 15:15] grawdon commented on #74
User can review privacy policy. Issue ready to close.

[2019-05-07 15:15] #74 closed

[2019-05-07 15:16] #101 closed

[2019-05-07 15:19] #724 closed

[2019-05-07 15:20] #473 closed

[2019-05-07 15:24] grawdon commented on #77
@KellyeDC Can you share an action plan with me so we can test this? grawdon@lsc.gov.

[2019-05-07 15:26] grawdon commented on #827
Forms displayed were in alphabetical order.

[2019-05-07 15:26] #827 closed, assigned to svasylenko, grawdon

[2019-05-07 15:32] grawdon commented on #351
@KellyeDC When I either closed the browser tab or went to another website, nothing happened. It didn't looked resolved to me.

[2019-05-07 15:39] grawdon commented on #911
All of the external links to sites and forms I tested worked.

[2019-05-07 15:39] #911 closed, assigned to grawdon

[2019-05-07 15:52] KellyeDC-zz commented on #77
Please use the DEV environment for this one as well.

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
[cid:image001.jpg@01D504CB.438C0660]
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
E: bennettk@lsc.gov<mailto:bennettk@lsc.gov>

From: grawdon <notifications@github.com>
Sent: Tuesday, May 7, 2019 11:24 AM
To: LSCOIT/LegalNavigato

[2019-05-07 15:59] KellyeDC-zz commented on #351
@svasylenko  Currently, if a platform end user is in the middle of an interview in the guided assist, is he/she able to save their place in the interview and comback to it, if registered?

[2019-05-07 16:06] svasylenko commented on #351
@KellyeDC nope, user could bookmark a page but next time interview will start sfom beginning.

[2019-05-09 20:37] KellyeDC-zz commented on #937
@svasylenko Are the json files located in the topics and resources table in CosmosDB?

[2019-05-09 20:39] KellyeDC-zz commented on #944
Collaborating with CALI team to resolve. @mikemitchel Here are the errors that the team has identified as common.  We can work on this tomorrow to troubleshoot (screen share).

[2019-05-10 17:18] KellyeDC-zz commented on #636
@grawdon My understanding of this issue is that the UI would change from the current vertical/scroll display to a horizontal display per the picture above.  This may be a Fellswoop design change.

[2019-05-10 17:20] KellyeDC-zz commented on #636
@svasylenko Is this done?

[2019-05-13 15:14] #548 closed

[2019-05-13 15:22] KellyeDC-zz commented on #458
Confirmed a feature and not a bug

[2019-05-13 15:22] #458 closed

[2019-05-13 15:30] KellyeDC-zz commented on #521
Unable to test

[2019-05-13 15:30] #521 closed

[2019-05-13 15:40] #540 closed

[2019-05-13 20:22] KellyeDC-zz commented on #505
In the latest A2J Author release, ELSE clause was made available for the LegalNav Viewer.  We can test in the next state CE developed using "else".

[2019-05-14 13:58] grawdon commented on #946
Who requested that completed be removed? I thought they were to go to the bottom. I would think a user would like to see what they've already done.

[2019-05-14 13:59] grawdon commented on #945
@KellyeDC Not sure what this means.

[2019-05-14 14:01] grawdon commented on #924
@KellyeDC Agreed. Fell Swoop must have done this for a reason. I'd like some expert input on this. Perhaps I could reach out to Maria Mindlin at Transcend and see what they advise.

[2019-05-14 14:03] grawdon commented on #907
@KellyeDC Agreed. I would close this.

[2019-05-14 14:04] grawdon commented on #906
@KellyeDC  Agreed.

[2019-05-14 14:06] grawdon commented on #905
@KellyeDC Is this resolved with the addition of the AK state courts logo now? I don't think we want the AK to show up on the HI pages.

[2019-05-14 14:08] grawdon commented on #902
@KellyeDC @breeglej I think this is a good idea. I agree we should run it by the advisory board though.

[2019-05-14 14:09] grawdon commented on #897
@KellyeDC This needs a consensus before going to Dev. Another issue for the advisory board?

[2019-05-14 14:11] grawdon commented on #896
@KellyeDC @breeglej Any update after your follow up?

[2019-05-14 23:00] #863 closed, assigned to KellyeDC-zz

[2019-05-14 23:02] KellyeDC-zz commented on #865
Moving task to Smartsheet - Objectives

[2019-05-14 23:02] #865 closed, assigned to KellyeDC-zz, asaperski-gloriumtech, svasylenko

[2019-05-14 23:03] KellyeDC-zz commented on #864
Moving task to Smartsheet - Objectives

[2019-05-14 23:03] #864 closed, assigned to breeglej, KellyeDC-zz, asaperski-gloriumtech, grawdon

[2019-05-15 17:33] KellyeDC-zz commented on #945
@grawdon Essentially, the online display of the action plan vs. the pdf version is very different.  There alignment issues, formatting, steps out of sequence and various other discrepancies between the displays.

[2019-05-15 17:40] #907 closed, assigned to KellyeDC-zz

[2019-05-15 20:17] #382 closed

[2019-05-20 17:56] #949 closed, assigned to breeglej, KellyeDC-zz, svasylenko, grawdon

[2019-05-20 17:56] grawdon commented on #949
This is done

[2019-05-20 18:07] grawdon commented on #77
When I save the plan and share it, I don't get an email and pasting the link into the browser takes me to a blank page.

[2019-05-20 18:11] #130 closed

[2019-05-20 18:13] #920 closed, assigned to grawdon

[2019-05-21 13:22] #104 closed

[2019-05-23 20:04] JessicaFrank commented on #942
Code push went live Tuesday, May 21 with the LegalNav element within Templates. States with questions on how to use it can reach out to me (jessica@cali.org)

[2019-05-23 20:05] JessicaFrank commented on #937
This went live on a2jauthor.org on Tuesday, May 21.

[2019-05-24 13:46] KellyeDC-zz opened #950 "Section: Can Legal Navigator Help me find a lawyer?"
Issue: Space needed after period at end of first sentence.

Correction: Add space

Location:

https://stage.legalnav.org/help
--

[2019-05-24 13:49] KellyeDC-zz opened #951 "Section: What if I am not in Alaska or Hawaii?"
Issue: Three external websites are not hyperlinked

Correction: All external websites should be hyperlinked

Location:

 https://stage.legalnav.org/help

[2019-05-24 13:52] KellyeDC-zz opened #952 "Section: How can I learn more or get involved?"
Issue: Space needed between contact: and legalnavigadmin@legalnav.org

Correction: Add space

Location:

https://stage.legalnav.org/help

[2019-05-27 21:51] KellyeDC-zz commented on #690
@svasylenko How did we determine that this defect was resolved?

[2019-05-28 14:20] KellyeDC-zz commented on #857
After review, it was identified that the NSMI v2 codes were not added to the 'resources' table

[2019-05-28 14:24] KellyeDC-zz commented on #351
@svasylenko Did we implement this feature with #350  and #721 ?

[2019-05-28 15:10] KellyeDC-zz commented on #505
CALI provided a few interviews for testing "if/else" clause. Functionality completed and in testing.

[2019-05-28 15:24] KellyeDC-zz commented on #77
Feature is behaving as expected.  @breeglej  and @grawdon , it only allows sharing for registered users.  We need to consider the impact an design for non-registered users.

[2019-05-28 15:32] KellyeDC-zz opened #953 "Add NSMI v2 codes to CuratedExperiences table(s)"
Add NSMI version 2 codes to the CuratedExperience tables, associated with each level: Parent and Child 1

[2019-05-28 15:33] KellyeDC-zz commented on #953
@grawdon Please review for next sprint development.

[2019-06-10 12:09] svasylenko commented on #923
We went through whole flow in code and UI and could not reproduce this bug.

[2019-06-11 14:51] svasylenko commented on #857
Not all NSMI codes were matched. Waiting for Kellye to update Excel for further update of DB. @KellyeDC

[2019-06-12 21:23] KellyeDC-zz opened #954 "PDF Creator Replacement for Personalized Action Plan"
Replace existing pdf creator to align formatting with the online view of the Personalized Action Plan

[2019-06-12 21:26] KellyeDC-zz opened #955 "PDF Creator Replacement for Articles/Topics & Resources"
Replace the pdf creator so that formatting is similar to the online view for downloading/printing

[2019-06-12 21:32] KellyeDC-zz opened #956 "Add page to support Child 2 Authoring - AK"
Create a new screen for authoring at Child 2 level (AK) - for Guided Assist

I.e. Family/Divorce/ 10 stages/iterations of the divorce process

See Attached

[2019-06-12 21:34] KellyeDC-zz commented on #956
![image](https://user-images.githubusercontent.com/45771252/59387871-4a8dc200-8d38-11e9-97d2-d1c808302fe9.png)

[2019-06-12 21:36] KellyeDC-zz opened #957 "Add page to support Child 2 Authoring - HI"
Create screen for authoring at Child 2 level for (HI) - Guided Assist

Discuss topic layout with Nalani 6/14

[2019-06-14 09:33] svasylenko opened #958 "Integration of new pdf creator to front-end components"
Relates to #945

[2019-06-14 09:41] svasylenko commented on #956
@KellyeDC we have to talk about this task - I could not understand what we have to do

[2019-06-17 11:46] KellyeDC-zz commented on #913
<img width="900" alt="Issue 913 Alaska logo" src="https://user-images.githubusercontent.com/45771252/59602131-03a32200-90d4-11e9-8e17-dd31cd5de792.PNG">

[2019-06-17 11:46] KellyeDC-zz commented on #913
Ready for PO review.

[2019-06-17 11:55] KellyeDC-zz commented on #721
<img width="487" alt="Issue 721 Back Button in GA" src="https://user-images.githubusercontent.com/45771252/59602646-3f8ab700-90d5-11e9-93cf-0533c5ef36a1.PNG">

[2019-06-17 11:55] KellyeDC-zz commented on #721
Back Button added to Guided Assistant - Ready for PO review

[2019-06-17 13:41] KellyeDC-zz commented on #943
<img width="801" alt="Issue 943 Save multiple plans" src="https://user-images.githubusercontent.com/45771252/59608765-1160a380-90e4-11e9-9c13-4c24658f65fd.PNG">

[2019-06-17 13:42] KellyeDC-zz commented on #943
Ready for PO review.  However, it appears that the GA is not loaded properly.  Currently displaying "additional reading" resources only

[2019-06-17 13:42] KellyeDC-zz commented on #943
<img width="789" alt="AK  Protective Orders - GA Error" src="https://user-images.githubusercontent.com/45771252/59608864-42d96f00-90e4-11e9-8482-6cad5d6f6fda.PNG">

[2019-06-17 13:44] KellyeDC-zz commented on #792
Will consult CALI regarding the text editor.

@johnmayer @grawdon

[2019-06-17 14:26] grawdon commented on #756
The search feature would not work for me today. I tried four different terms and each time all I got was a spinning "loading" wheel. So I couldn't see if articles were returned or not since nothing was.

[2019-06-17 14:33] KellyeDC-zz commented on #350
Ready for PO Review in DEV.

[2019-06-17 14:39] grawdon commented on #177
This worked for me. I was able to save Articles and Topics.

[2019-06-17 14:39] #177 closed

[2019-06-17 14:40] grawdon commented on #937
We need to have Jessica show this to us on a call as I don't have A2J Authoring software with which to test it.

[2019-06-17 14:44] grawdon commented on #328
This option is now available from the Topics pages, but I asked Glorium to only make it visible when there is actually a Guided Assist for a topic. That hasn't been done yet.

[2019-06-17 14:45] grawdon commented on #912
Coming up in the order of the persons answers may not be the desired result. We need to discuss this as a design issue and see if it can be ordered in A2J Author.

[2019-06-17 14:50] grawdon commented on #416
These have all been added.

[2019-06-17 14:50] #416 closed

[2019-06-17 14:53] grawdon commented on #913
@KellyeDC The PAP did not have an Alaska Court logo at all. See example. Are they okay with this?
[Legal Navigator - https___dev.legalnav.org.pdf](https://github.com/LSCOIT/LegalNavigator/files/3297537/Legal.Navigator.-.https___dev.legalnav.org.pdf)

[2019-06-17 14:58] grawdon commented on #721
@KellyeDC The Back button works, but I lose my previous answers. Is this the desired behavior?

[2019-06-17 15:11] grawdon commented on #350
@KellyeDC I did not see an options to save as I went through the interview or upon leaving the tab or browser. Am I missing something?

[2019-06-17 15:17] grawdon commented on #905
@KellyeDC I don't see any logos on the home page or on the About page when you click Learn More in the Information You Can Trust Section. If this the design we decided upon?

[2019-06-17 15:23] grawdon commented on #943
@KellyeDC I was able to save multiple PAPs, but when I save a plan, I get no confirmation or indication it was save. I click on save an nothing a user can see happens. If I click on Share or Print, something happens. We should have some sort of confirmation that the plan was saved or the user is likely to keep clicking on it thinking nothing has happened.

[2019-06-17 15:53] KellyeDC-zz commented on #913
@grawdon The PAP on the screen displays the logo.  The download will be addressed in the next sprint to include the logo displaying on the download.  This is an issue with the current pdf creator.

[2019-06-17 15:57] KellyeDC-zz commented on #721
@grawdon This is not the overall desired behavior, however, this user story is only for implementing the back button feature.  The save interview answers along the way feature is a separate issue.

[2019-06-17 16:00] KellyeDC-zz commented on #350
@grawdon It appears to save along the way without notifying the user.  The save function (in UI) is only at the end of the interview.  We would need to add a new user story to allow the user to save along the way.  My concern is that the user may not in most cases and the platform should save for the user.  Let me know your thoughts.

[2019-06-17 16:40] KellyeDC-zz commented on #905
Agreed.  I will return to DEV.  I recall seeing this during the sprint review but was unable to reproduce.

[2019-06-17 16:43] KellyeDC-zz commented on #943
There is a small pop up notification in top upper right, with green back ground that informs the user that the PAP was saved. @grawdon   I doesn't work all of the time.  I will return to DEV.

[2019-06-21 18:43] KellyeDC-zz commented on #897
@breeglej and @grawdon Can we include this as a discussion item during the next advisory meeting?

[2019-06-24 12:21] svasylenko opened #959 "Pdf engine"
Create pdf generation engine for pdf creation.

Related issues:
#954
#955

[2019-06-24 12:54] grawdon commented on #897
@KellyeDC and @breeglej That sounds like a good idea.

[2019-06-25 17:41] KellyeDC-zz commented on #956
The intent of this user story is to insert a page between the Guided Assist search screen and the "It looks like you are searching for information..." page, to allow authors to develop content at the next level down (child 2).

Let's discuss further if not clear.

[2019-06-27 16:11] KellyeDC-zz opened #960 "Location Error on Stage"
When location box loads, and user enters a new location i.e. Alaska or Hawaii, the location does not update. this has occurred several times but, inconsistently.  @grawdon has captured details if needed.

[2019-07-01 14:28] grawdon commented on #328
@KellyeDC We wanted to move this above the map. Should it be part of this issue or should we start a new issue?

[2019-07-01 14:33] grawdon commented on #913
@KellyeDC I am not seeing any court logo on my PAP. See attached.
[No Alaska court logo on PAP.pdf](https://github.com/LSCOIT/LegalNavigator/files/3346067/No.Alaska.court.logo.on.PAP.pdf)

[2019-07-01 14:34] #721 closed

[2019-07-01 14:35] #350 closed

[2019-07-02 11:45] svasylenko commented on #956
GA search leads to page above, further state will provide GA to every topic shown there. If no such GA - this item in list should not be shown. After clocking on link above - Start Guided assist dialog (regular) to be shown.

[2019-07-02 13:25] #328 closed

[2019-07-10 18:22] svasylenko opened #961 "Check template for proper ordering/Guided Assistant block should be above the map"
Guided Assistant block should be above the map, not below. Please check and fix.

![image](https://user-images.githubusercontent.com/46557859/60994190-b3c51d00-a358-11e9-8963-ada852822288.png)

[2019-07-10 18:28] svasylenko commented on #918
The issue is here:

![image](https://user-images.githubusercontent.com/46557859/60994684-a8262600-a359-11e9-975e-719bfec493be.png)

[2019-07-10 18:29] svasylenko commented on #918
@KellyeDC Kellye, could you please suggest in respect to mentioned in red lock? Shall we still hide Articles & Resources block?

![image](https://user-images.githubusercontent.com/46557859/60994774-d1df4d00-a359-11e9-85eb-4819cf576c3c.png)

[2019-07-16 08:24] Olgaivchenko opened #962 "[Protective Order] GUID buttons are not showing up in Legal Navigator."
1.	GUID buttons are not showing up in Legal Navigator.
Here is my A2J template:
<img width="468" alt="image" src="https://user-images.githubusercontent.com/52704536/61278100-3831f880-a7bc-11e9-94fd-3fb3ca987f54.png">
Here is what it looks like in LN:
<img width="427" alt="image" src="https://user-images.githubusercontent.com/52704536/61278114-3e27d980-a7bc-11e9-9726-3e35d372bd58.png">

[2019-07-16 08:29] Olgaivchenko opened #963 "A2J has a code “SET [ ] TO TRUE” with a variable name going between the brackets"
2.	A2J has a code “SET [   ] TO TRUE” with a variable name going between the brackets.  In Step 5, question 5 I have:
<img width="278" alt="image" src="https://user-images.githubusercontent.com/52704536/61278392-cb6b2e00-a7bc-11e9-8c95-a7795943d862.png">
Step 5, question 6 I have:
<img width="309" alt="image" src="https://user-images.githubusercontent.com/52704536/61278400-d0c87880-a7bc-11e9-8b7c-

[2019-07-16 08:35] Olgaivchenko opened #964 "[Protective Order] Sometimes 1 answer leads to another question and 1 answer leads to an Action Plan."
3.	This defect is a little more complicated.  When a user selects an answer to a question, the A2J author tells A2J what page the user should get next based on that answer.  The page that the user should go to next is called the “destination.”  Here is an example where the destination is question “7 – Who PO for”:
<img width="468" alt="image" src="https://user-images.githubusercontent.com/52704536

[2019-07-16 08:41] Olgaivchenko opened #965 "Visual consistency: answer boxes"
4.	This is just a minor issue, but it’s a visual one.  Most Legal Navigator answer boxes look like this:
<img width="468" alt="image" src="https://user-images.githubusercontent.com/52704536/61279297-8516ce80-a7be-11e9-9bd3-37e2442bd22f.png">
 But if the author uses radio buttons (which is the only way to get more than 3 options for answers) the boxes look like this:
<img width="468" alt="image" sr

[2019-07-16 08:43] Olgaivchenko opened #966 "[Protective Order Guided Assist] Letters change on the screen – they jump around, if you click on the middle option"
5.	Another weird but not substantive issue.  This question is in the Protective Order Guided Assist:
<img width="468" alt="image" src="https://user-images.githubusercontent.com/52704536/61279467-daeb7680-a7be-11e9-8c3d-25dca3680a8f.png">
For some weird reason, if you click on the middle option, the letters change on the screen – they jump around – and then look like this:
<img width="468" alt="ima

[2019-07-16 09:09] konstantin-orekhov commented on #962
07/12- 4h
07/15 - 8h
07/16 - 4h

[2019-07-16 14:04] grawdon commented on #937
@KellyeDC We should ask Jeannie to show us this on the call this PM.

[2019-07-16 14:05] grawdon commented on #912
@KellyeDC This would be good to discuss with Jeannie too.

[2019-07-16 16:06] KellyeDC-zz commented on #918
Please allow @breeglej and @grawdon determine if/when we will make this update. Removing from Sprint 11

[2019-07-16 18:15] KellyeDC-zz commented on #966
Did someone from LSC prioritize this defect for Sprint 11? @olgaivchenko

[2019-07-16 18:24] konstantin-orekhov commented on #966
07/16 - 2h

[2019-07-16 18:27] grawdon commented on #966
I did not prioritize this issue.

[2019-07-16 18:28] konstantin-orekhov commented on #964
07/16 - 2h

[2019-07-16 19:06] #912 closed, assigned to KellyeDC-zz

[2019-07-17 08:31] Olgaivchenko commented on #961
Steps to reproduce:
1. Go to https://stage.legalnav.org/
2. Choose 'Hawaii'
3. Go to 'Topics & Resources'
4. Go to 'Traffic And Cars'
5. Choose 'Dealing with Traffic and Parking Tickets'

Expected Result: Guided Assistant block should be above the map, not below.

[2019-07-17 08:49] Olgaivchenko commented on #966
@KellyeDC
Hello Kellye,
this issue from Slack, Serhii assigned this to Development Team.
[Defects and issues discovered from June 2019 protective order guided assist.docx](https://github.com/LSCOIT/LegalNavigator/files/3400906/Defects.and.issues.discovered.from.June.2019.protective.order.guided.assist.docx)

So I just set Low priority based on info from message (it was mentioned **_Another weird b

[2019-07-17 14:33] Olgaivchenko commented on #963
@KellyeDC hello, Kellye, could you please provide us with the template of such file to reproduce/test this issue? Thanks in advance.

[2019-07-17 14:39] Olgaivchenko commented on #965
@KellyeDC Hello, Kellye, could you please tell us which design of answer boxes are prefferable ? (check description)
 I've just found two tickets about this issue:
https://github.com/LSCOIT/LegalNavigator/issues/679 https://github.com/LSCOIT/LegalNavigator/issues/949

Please help us to choose the correct design.

[2019-07-18 06:42] konstantin-orekhov commented on #963
07/17 - 2h

[2019-07-18 06:42] konstantin-orekhov commented on #964
07/17 - 6h

[2019-07-18 13:11] KellyeDC-zz commented on #963
Please use the latest Protective Order file from Alaska.  It should be in the @content-alaska  channel.

[2019-07-18 13:11] #963 closed, assigned to konstantin-orekhov

[2019-07-18 13:17] KellyeDC-zz commented on #965
@Olgaivchenko  I need to confirm with the product owner @grawdon .  Please hold.

[2019-07-19 08:31] Olgaivchenko commented on #918
@KellyeDC  Hello Kellye, this issue was fixed before your removing from Sprint 11. Just let me know if you don't want to have these changes in last version.

[2019-07-19 08:33] konstantin-orekhov commented on #964
07/18 - 8h

[2019-07-19 10:43] konstantin-orekhov commented on #964
07/18 - 8h

[2019-07-19 19:31] konstantin-orekhov commented on #56
07/19 - 8h

[2019-07-22 12:35] konstantin-orekhov commented on #963
07/22 - 5

[2019-07-22 18:48] KellyeDC-zz opened #967 "Add Status to Topics/Resources spreadsheet uploads for Alaska/Hawaii"
GUID updates for Topics & Resources, so that new uploads are tagged as ACTIVE/VALID and previous uploads are INACTIVE/INVALID

[2019-07-23 08:05] konstantin-orekhov commented on #56
07/22 -2h

[2019-07-23 08:56] Olgaivchenko opened #968 "If Action Plan isn't available -> add a message that there is no action plan available for the said topic."
In some cases when user clicks 'View Action Plan' button
<img width="1215" alt="Screen Shot 2019-07-22 at 11 55 31" src="https://user-images.githubusercontent.com/52704536/61697592-3b8b2e00-ad40-11e9-839e-701f1dcc884a.png">
the following screen appears (without Action Plan):
<img width="1359" alt="Screen Shot 2019-07-22 at 11 51 02" src="https://user-images.githubusercontent.com/52704536/61697627-

[2019-07-23 08:58] Olgaivchenko commented on #968
@KellyeDC
Hello Kellye,
please provide us with the text for message (that there is no action plan available for the said topic)

[2019-07-23 11:04] Olgaivchenko opened #969 "Remove tags from labels"
Remove tags from labels

<img width="558" alt="Screen Shot 2019-07-22 at 13 19 15" src="https://user-images.githubusercontent.com/52704536/61707239-ad6c7300-ad52-11e9-8ca3-ff40de946420.png">

![image_2019_07_19T12_25_13_025Z](https://user-images.githubusercontent.com/52704536/61707236-aba2af80-ad52-11e9-85c9-cba9e2fa3283.png)

[2019-07-23 16:33] KellyeDC-zz commented on #960
@Olgaivchenko Is this completed?  Since it was not reproduced for a resolution, let's move to the latest sprint.

[2019-07-24 08:39] Olgaivchenko commented on #918
Done in Sprint 11. Moved to Ready for Review

[2019-07-24 08:45] Olgaivchenko commented on #964
Done in Sprint 11. Moved to Ready for Review.

[2019-07-24 08:45] Olgaivchenko commented on #961
Done in Sprint 11. Moved to Ready for Review.

[2019-07-24 08:51] Olgaivchenko commented on #963
Done in Sprint 11. Moved to Ready for Review.

[2019-07-24 08:56] Olgaivchenko commented on #962
Done in Sprint 11. Moved to Ready for Review.

[2019-07-24 09:28] Olgaivchenko commented on #943
Done in Sprint 11. Small pop up notification appears.
Move to Ready fore Review

[2019-07-24 10:16] Olgaivchenko commented on #966
Done in Sprint 11. Move to Ready fore Review

[2019-07-24 10:17] Olgaivchenko commented on #905
Done in Sprint 11. Move to Ready fore Review

[2019-07-24 10:24] Olgaivchenko commented on #913
Done in Sprint 11. Move to Ready for Review

[2019-07-24 10:26] Olgaivchenko commented on #690
Done in Sprint 11. Move to Ready for Review

[2019-07-24 12:34] Olgaivchenko commented on #960
Done in Sprint 11. Move to Ready for Review

[2019-07-25 10:19] Olgaivchenko commented on #294
@KellyeDC
Hello Kellye,
please provide us with the text for UI message that should be shown in case of error

[2019-07-25 10:38] svasylenko commented on #64
@KellyeDC yes, you are right, it is ordered alphabetically. As for meaningful ordering - please suggest what way we should order them.

[2019-07-29 07:47] konstantin-orekhov commented on #56
In the old version, the search didn't work properly.
We used in BackendDatabaseService.QueryResourcesCountAsync function GetFirstPageResourceAsync(query, parameters, true) this function was returning the only first page with resources, not all resources.  In the new version, I replaced  function GetFirstPageResourceAsync(query, parameters, true) with function QueryItemsAsync(cosmosDbSettings.Resou

[2019-07-30 06:49] konstantin-orekhov commented on #346
07/29 - 8h

[2019-07-30 14:44] grawdon commented on #937
I checked this out in Dev with the script Jeannie gave me and the GUIDs showed up as they should.

[2019-07-30 14:44] #937 closed, assigned to KellyeDC-zz

[2019-08-01 07:28] konstantin-orekhov commented on #957
07/31 - 8h

[2019-08-02 07:18] konstantin-orekhov commented on #957
08/01 - 8h

[2019-08-02 07:19] konstantin-orekhov commented on #956
08/01 - 8h

[2019-08-02 13:48] konstantin-orekhov commented on #956
08/02 - 8h

[2019-08-05 08:41] konstantin-orekhov commented on #967
I have deeply investigated this problem. At the moment, the download works like this:
1. Uploading data from excel document.
2. Parsing document
    1. If  GUID found in column document id, we use this GUID, if GUID
        not present we create new GUID and save the new GUID in the document.
    2. We taking the record with GUID id.
    2. We search document with GUID in the database, if the docu

[2019-08-05 17:23] Olgaivchenko commented on #184
@KellyeDC
Issue isn't reproduced, so it can be closed.

[2019-08-05 17:26] Olgaivchenko commented on #77
@KellyeDC
Hello Kellye,
please provide us with the vision of expected behaviour ( **for non-registered users**)

[2019-08-05 17:52] Olgaivchenko commented on #956
Done in dev environment.

[2019-08-05 17:53] Olgaivchenko commented on #957
Done in dev environment.

[2019-08-05 18:22] Olgaivchenko commented on #445
@KellyeDC
Kellye, please tell us what should be done here?

[2019-08-05 18:42] KellyeDC-zz opened #970 "Location Based on County"
As a platform user, I want to enter the county, along with the state to get a more accurate search results based on my location(county).

[2019-08-05 18:44] KellyeDC-zz opened #971 "Location Based on Zip Code"
As a platform user, I want to enter the zip code, along with the state to get a more accurate search results based on my location(zip code).

[2019-08-07 12:14] #184 closed

[2019-08-07 18:47] KellyeDC-zz opened #972 "Update Topics & Resources Spreadsheet to include Priority/Ranking and ADD field to database"
For topics/resources content management, add priority/ranking as specified by the states

A. Add the field to the appropriate tables
B. Add field to all spreadsheets
C. Make certain that the field accommodates the data type for priority/rank

NOTE:  Kellye to confirm the data type with the states and the states will prioritize the spreadsheets.  We need to provide the states with the latest upload

[2019-08-07 18:53] KellyeDC-zz opened #973 "Update Topics & Resources Spreadsheet to include option to DELETE resources"
For topics/resources content management, add DELETE (Y/N), with N being default, as specified by the states

A. Add the field to the appropriate tables
B. Add field to all spreadsheets
C. Make certain that the field accommodates the data type for Y/N or Yes/No

NOTE: The states will identify any items that need to be removed from display on the spreadsheets, by Yes or Y for delete.  We need to pro

[2019-08-07 18:56] KellyeDC-zz opened #974 "Update Topics/Resources Display Search Display 3 to 5"
Update Topics/Resources Display Search Display 3 to 5 for each resource type e.i. organization, article, and other resources.  Provide additional resources via the display more button.  Make certain the top 5 are listed/displayed based on priority/rank (provided by the states) and not alphabetically.

[2019-08-09 08:28] Olgaivchenko opened #975 "Internal Server Error 500"
Investigate and fix the issue
<img width="1431" alt="Screen Shot 2019-08-08 at 13 56 39" src="https://user-images.githubusercontent.com/52704536/62765441-cd14d280-ba98-11e9-8bd9-22d4077e6d5f.png">

[2019-08-09 08:41] Olgaivchenko commented on #973
Internal Planning Meeting: We shouldn't delete topics/resources, we need to add Y/N status (and update API to check the status)

[2019-08-09 08:49] Olgaivchenko commented on #971
Investigation: Size 1

[2019-08-09 08:49] Olgaivchenko commented on #970
Investigation: Size 1

[2019-08-09 08:59] Olgaivchenko opened #976 "'Unshare' doesn't always work on the first try"
Perform investigation and fix the issue

[2019-08-09 18:21] KellyeDC-zz commented on #940
This task is complete. No testing required.

[2019-08-09 18:21] #940 closed, assigned to breeglej, KellyeDC-zz, svasylenko, grawdon

[2019-08-09 20:32] konstantin-orekhov commented on #973
08/09 - 8h

[2019-08-09 21:10] KellyeDC-zz commented on #351
If the user is registered, the idea is for the system to save the answer choices as the user progresses through the guided interview.  Has this been implemented?

[2019-08-09 21:18] KellyeDC-zz commented on #945
[updated view print and download with new pdf creator.pdf](https://github.com/LSCOIT/LegalNavigator/files/3488077/updated.view.print.and.download.with.new.pdf.creator.pdf)

[2019-08-09 21:19] KellyeDC-zz commented on #945
Ready for PO Review

[2019-08-10 07:27] Olgaivchenko opened #977 "[Shared resourses] Remove button doesn't work"
Nothing happens on pressing Remove button.
Perform investigation and fix the issue

[2019-08-10 07:41] konstantin-orekhov commented on #977
What remove button you mean, on saved plan tab or on shared resource plan?
How I can reproduce this issue?

[2019-08-12 08:38] svasylenko commented on #351
@KellyeDC yes, please go trough interview, close browser at some point and open it back. Then login and go to GA - you will start from the question when you have closed the browser.

[2019-08-12 19:24] KellyeDC-zz commented on #505
Please ensure this feature was implemented.

[2019-08-12 19:32] KellyeDC-zz commented on #792
@svasylenko The latest topics and resources files should be feasible.  Otherwise, we can request Jessica for the endpoint files.  I would prefer to use the files submitted by the states

[2019-08-13 07:47] konstantin-orekhov commented on #973
08/12 - 8h

[2019-08-13 09:47] konstantin-orekhov commented on #973
08/13 - 8h

[2019-08-13 10:37] konstantin-orekhov commented on #976
08/12 - 4h

[2019-08-13 10:38] Olgaivchenko opened #978 "NSMI API (LUIS Replacement) - NLP"
Good afternoon Olga/Serhii,

As discussed, we are planning to disconnect the LUIS API and replace with the NSMI API developed by David Colarruso at Suffulk Univ.

Here are the details:

API documentation. https://app.swaggerhub.com/apis-docs/suffolklitlab/spot/0.0.1/

You'll need a Bearer Token if you want to kick the tires. So here it is:

1e1035e9ca1928c296e6f500422648b6de2164562875e4a7a0cc5adda

[2019-08-13 10:38] konstantin-orekhov commented on #977
08/12 - 4

[2019-08-14 02:44] konstantin-orekhov commented on #976
08/09 - 8h

[2019-08-14 02:45] konstantin-orekhov commented on #977
08/08 - 4h

[2019-08-14 02:46] konstantin-orekhov commented on #973
08/12 - 8h

[2019-08-14 02:46] konstantin-orekhov commented on #973
08/13 - 8h

[2019-08-14 07:39] Olgaivchenko opened #979 "[Incoming resources] Remove button doesn't work"
Nothing happened by pressing Remove button.
Perform investigation and fix the issue

[2019-08-14 08:09] Olgaivchenko opened #980 "[Guided Assistant] Plan isn't saved"
Plan doesn't appear in 'My Saved Resourses' tab
<img width="1280" alt="Screenshot at Aug 14 10-42-01" src="https://user-images.githubusercontent.com/52704536/63003106-278aa600-be80-11e9-8d51-8824e1714057.png">

<img width="1330" alt="Screenshot at Aug 14 10-43-20" src="https://user-images.githubusercontent.com/52704536/63004815-ebf1db00-be83-11e9-9ff2-f492440e9a22.png">

[2019-08-14 16:51] ConstantinOr commented on #972
08/14 - 8h

[2019-08-16 09:44] Olgaivchenko opened #981 "[Resources & Topics] Identify the main file"
Investigate and fix the issue of duplication

[2019-08-16 12:15] ConstantinOr commented on #973
08/15 - 4h

[2019-08-16 12:15] ConstantinOr commented on #972
08/15 - 4h

[2019-08-16 13:05] ConstantinOr commented on #972
08/16 - 4h

[2019-08-16 13:05] ConstantinOr commented on #973
08/16 - 4h

[2019-08-19 08:19] Olgaivchenko commented on #980
Can not reproduce it anymore

[2019-08-19 08:19] #980 closed, assigned to Olgaivchenko

[2019-08-19 12:48] KellyeDC-zz commented on #62
These items will be updated through the admin portal for static content.

[2019-08-19 12:48] #62 closed

[2019-08-19 13:20] KellyeDC-zz commented on #121
AI Feature related specifically to LUIS.  We are changing from LUIS to Spot and are uncertain if this issue will exist with the new tool.

[2019-08-19 13:26] KellyeDC-zz commented on #65
Issue resolved.

[2019-08-19 13:26] #65 closed

[2019-08-19 13:32] #102 closed

[2019-08-19 13:33] #942 closed, assigned to breeglej, KellyeDC-zz, grawdon

[2019-08-19 13:37] #590 closed

[2019-08-20 08:39] ConstantinOr commented on #974
08/19 -8h

[2019-08-20 13:38] KellyeDC-zz commented on #968
@Olgaivchenko Are you referring to Guided Assistant?  If not, please provide an example of a guided interview that is not accompanied by an action plan.

[2019-08-20 13:43] KellyeDC-zz opened #983 "Divorce/Separation/Annulment Stuck on Location Question in Dev/Stage"
Platform user is unable to proceed in the guided interview once the location question is asked.  It does not produce an error.  It only returns the same screen when "continue" is selected.

[2019-08-20 13:49] KellyeDC-zz opened #984 "Update PROD Environment: Code Push"
Update PROD Environment: Code Push

[2019-08-20 13:50] KellyeDC-zz opened #985 "Update PROD Environment: Data Migration (State Content)"
Update PROD Environment: Data Migration (State Content)

[2019-08-20 13:51] KellyeDC-zz opened #986 "Update PROD Environment: Static Content"
Update PROD Environment: Static Content

[2019-08-22 07:22] Olgaivchenko commented on #985
Data Migration from Stage env. Kelly will provide us with file for Hawaii (for Alaska we have file).
Serhii, Olha should discuss all risks with BE developer.

[2019-08-26 15:05] grawdon commented on #945
The download version of the PAP is not formatting correctly. I have blank paragraph numbers and bulleted paragraphs don't align correctly. If I print to PDF, the formatting looks fine. I've attached examples of each here so you can see the difference.
[Divorce PAP downloaded 190826.pdf](https://github.com/LSCOIT/LegalNavigator/files/3541709/Divorce.PAP.downloaded.190826.pdf)
[Divorce PAP printed t

[2019-09-06 16:15] KellyeDC-zz commented on #956
Unable to test until the NLP API is updated from LUIS to Spot (and training).  Also, the Divorce json needs to be removed from the content db.

[2019-09-09 10:01] svasylenko opened #990 "API update"
Update API calls for a2j to allow providing them only isActive=true for GA.

[2019-09-10 19:51] KellyeDC-zz opened #991 "Alaska Topics/Resource Breadcrumbs Incorrect"
When navigating through T/R to get to resources, the breadcrumbs do not display the correct navigation.  For example, user went to FAMILY-> Domestic Violence & Abuse -> Protective Orders -> Organizations -> Alaska Bar Association Lawyer Referral Service

Once user clicks on Alaska Bar Assoc.... the breadcrumbs are as follows:

All Topics/Family/Mediation / Alternative Dispute Resolution/Organizati

[2019-09-10 19:52] KellyeDC-zz commented on #991
<img width="861" alt="Breadcrumb defect" src="https://user-images.githubusercontent.com/45771252/64645445-eb952300-d3e2-11e9-93d9-c20da7d477c1.PNG">

[2019-09-11 10:19] yevhenobertas opened #992 "Create Data Export of resourceType and it's properties"
Create Data Export of resourceType and it's properties

[2019-09-12 11:34] yevhenobertas opened #994 "The heading of the paragraph overlaps the text under the paragraph"
Staging
The heading of the paragraph overlaps the text under the paragraph
Fixed on dev env.

![LNav_styling](https://user-images.githubusercontent.com/48689437/66125262-2dcf1000-e5ef-11e9-927c-b57b6bf15e08.png)

[2019-09-12 11:37] yevhenobertas opened #995 "It is necessary to remove all Curated Experience on a stage base with their links in Alaska resources and the name Protective_Orders"
It is necessary to remove all Curated Experience on a stage base with their links in Alaska resources and the name Protective_Orders

[2019-09-12 11:45] yevhenobertas opened #996 "Loading. In 4 files, not all columns are for some reason drawn into the database - you need to run in the debug and check what kind of issue."
Loading. In 4 files, not all columns are for some reason drawn into the database - you need to run in the debug and check what kind of issue.

[2019-09-12 11:49] yevhenobertas opened #997 "In Hawaii - despite the fact that there is an entire Family block in the topic file - He even was not uploaded - you need to check what the problem is and upload"
In Hawaii - despite the fact that there is an entire Family block in the topic file -
He even was not uploaded - you need to check what the problem is and upload

[2019-09-16 11:59] yevhenobertas opened #998 "Create Data Export of all information related to resourceType"
Create Data Export of all information related to resourceType

[2019-09-17 22:25] KellyeDC-zz commented on #956
@svasylenko Is there anyway to review this functionality in STG or PROD?

[2019-09-18 13:09] yevhenobertas opened #999 "Tuning (fix) of the tool for uploading states data and upload new data"
Tuning (fix) of the tool for uploading states data and upload new data
1. Define a list of required fields in order to define topics (for example Tag_id, GUI, Topic Name, State)
2. Other fields should be marked as additional (optional) fields
3. Fix the loader tool take into account point 1-2 above
4. Make the data reconcilation: Input data provided by states vs Output data uploaded to Cosmos DB
5

[2019-10-01 16:11] yevhenobertas opened #1000 "Fixing icons & topic ordering & replacement LUIS with SPOT"
Fixing icons & topic ordering & replacement LUIS with SPOT

[2019-10-01 16:12] yevhenobertas opened #1001 "Research Dev/Stage redirect issue"
Research Dev/Stage redirect issue

[2019-10-01 16:13] yevhenobertas opened #1002 "JSON to Excel parsing within Import/Export tool"
JSON to Excel parsing withing Import/Export tool

[2019-10-01 16:15] yevhenobertas opened #1003 "Rollback task "change PAP`s order according to answers` one""
Rollback task "change PAP`s order according to answers` one":
rollback https://github.com/LSCOIT/LegalNavigator/issues/912

[2019-10-01 18:24] KellyeDC-zz commented on #1000
Verified.  Ready for PO review.

[2019-10-01 18:26] KellyeDC-zz commented on #997
@yevhenobertas  It is unclear what this issue is addressing.  I have an idea, but please explain.

[2019-10-01 18:28] KellyeDC-zz commented on #994
@yevhenobertas Is this for articles resourceType?, specifically related to Hawaii content?

[2019-10-01 18:33] KellyeDC-zz commented on #1002
Team provided review with LSC PO and PM.  Ready for PO approval.

[2019-10-01 18:42] KellyeDC-zz commented on #991
@yevhenobertas Is this issue resolved?

[2019-10-01 18:49] KellyeDC-zz commented on #999
@svasylenko  Is this still the approach for content/data cleanup?

[2019-10-01 19:30] KellyeDC-zz commented on #996
@yevhenobertas Is this task complete?

[2019-10-01 19:33] KellyeDC-zz commented on #995
Please confirm that this task addressed the request to delete the JSON file for AK - Protective Orders @yevhenobertas and @svasylenko

[2019-10-02 13:20] grawdon commented on #1000
We are getting multiple listing for Topics again. I am seeing this for Hawaii. Maybe this will be corrected as part of the clean up going on now and once the spreadsheets are updated. And we won't know about the ordering until the states can do the rankings.
![image](https://user-images.githubusercontent.com/46725623/66047909-3a1f7400-e4ee-11e9-9827-6e5646d97525.png)

[2019-10-02 13:22] grawdon commented on #1002
@KellyeDC I'd like to discuss before closing. Let's talk about this at the Friday check in.

[2019-10-02 13:24] grawdon commented on #992
@KellyeDC Let's discuss this too. I didn't see a new export function, only the new import function.

[2019-10-02 13:28] grawdon commented on #1000
Also, the same organization is showing up multiple times with the same info:
![image](https://user-images.githubusercontent.com/46725623/66048098-971b2a00-e4ee-11e9-9b9e-0d93f3849de5.png)

[2019-10-02 13:36] grawdon opened #1004 "Still seeing <br> displayed in some Guided Assists."

[2019-10-02 13:36] grawdon commented on #1004
![image](https://user-images.githubusercontent.com/46725623/66048759-c0888580-e4ef-11e9-89e7-41d6103367a0.png)

[2019-10-02 14:59] svasylenko commented on #997
@KellyeDC  Kellye, do you remember FAmily block in Topocs&Resources was absent and have addressed that few times? This is the formal task to fix that matter.

[2019-10-02 20:50] KellyeDC-zz commented on #957
Unable to validate in either environment.  @yevhenobertas Dev does not return the new screen for authoring at Child 1, after searching from Guided Assistant search.  Please resolve.

[2019-10-02 20:52] KellyeDC-zz commented on #973
Delete logic should have been updated to DISPLAY.  Is there an associated ticket @svasylenko ?

[2019-10-02 20:54] KellyeDC-zz commented on #972
Ready for PO review.

[2019-10-02 21:06] KellyeDC-zz commented on #971
Ready for PO review

[2019-10-02 21:07] KellyeDC-zz commented on #970
Ready for PO Review

[2019-10-02 21:08] KellyeDC-zz commented on #978
Completed in DEV and PROD.  Will remain open until Spot is returning desired results.

[2019-10-03 12:02] yevhenobertas commented on #994
[](url)

[2019-10-03 12:02] #994 closed, assigned to VaLeXaR, KellyeDC-zz, svasylenko, grawdon, yevhenobertas

[2019-10-03 12:08] yevhenobertas commented on #994
@KellyeDC , Yes, it's for articles resourceType, specifically to Hawaii content. I have added the screenshot to description of this ticket.

[2019-10-03 21:41] KellyeDC-zz commented on #975
@svasylenko How can this be tested?  Unaware of the actual issue.

[2019-10-03 21:43] KellyeDC-zz commented on #979
@svasylenko Where is the REMOVE button referenced here?

[2019-10-03 21:58] KellyeDC-zz opened #1005 "Remove Topic Icons from display for Alaska"
Remove Topic Icons from display for Alaska:

Alaska Native Issues
Criminal Case Information
Civil Rights & Human Rights
Estate & Wills
Guardianship & Conservatorship (incapacitated adult or minor)
Money, Debt & Consumer Issues
Public Benefits
Veterans & Military

Remaining Topic Icons for Alaska:

Family
Domestic Violence and Abuse

[2019-10-03 22:07] KellyeDC-zz commented on #974
Ready for PO review.

[2019-10-03 22:09] KellyeDC-zz commented on #922
Ready for PO review.

[2019-10-03 22:18] KellyeDC-zz commented on #56
In Stage,, all of these filters are not available for the platform user.  @grawdon Do we still want this feature for the platform?

[2019-10-03 22:19] KellyeDC-zz commented on #56
<img width="908" alt="Issue 56 platform user filter" src="https://user-images.githubusercontent.com/45771252/66168114-4862b280-e60a-11e9-9425-71c09ec889c6.PNG">

[2019-10-03 22:22] KellyeDC-zz commented on #960
Issue still remains. See issue in Slack #platform channel

[2019-10-03 22:40] KellyeDC-zz opened #1006 "Alaska 'Protective Order' Guided Assistant defect"
<img width="924" alt="AK Protective order defect" src="https://user-images.githubusercontent.com/45771252/66169068-27e82780-e60d-11e9-99b3-c8ab54b0e3d9.PNG">

[2019-10-03 22:42] KellyeDC-zz commented on #905
It was done, but it is no longer displaying. @svasylenko

[2019-10-03 22:47] KellyeDC-zz commented on #966
Ready for PO review

[2019-10-03 22:51] KellyeDC-zz commented on #962
@grawdon Can we get Jeannie to test this for us to make certain that it is fixed?

[2019-10-03 22:56] KellyeDC-zz commented on #959
@grawdon Can we move to DONE.  we can test the associated issues to confirm.

[2019-10-04 11:16] yevhenobertas opened #1007 "Creation of the concept of CMS"
Creation of the concept of CMS:
1) Figure out the concept of Content Management System
2) Figure out which functions CMS should cover
3) Should CMS looks like a Admin Panel
4) Provide with the concept in presentation form (for example .pptx)

[2019-10-04 13:22] yevhenobertas commented on #1007
[CMS_Admin Panel Flow.pptx](https://github.com/LSCOIT/LegalNavigator/files/3690703/CMS_Admin.Panel.Flow.pptx)

[2019-10-04 14:56] yevhenobertas opened #1008 "Location Error in stage"
Location Error in stage
It is not possible to change the location

Preconditions: Staging environment
STR:
1) Log in the LSC application
2) Legal Navigator shows your Location by default (Norman or Kyiv City)
3) Type Alaska in input field
4) Click on the Search or Update buttons

AR:
1) Drop down list is not working
2) Nothing happens: location is not changed

ER:
1) Drop down should work
2) Locat

[2019-10-07 14:56] #972 closed, assigned to KellyeDC-zz, svasylenko, grawdon

[2019-10-07 15:14] grawdon commented on #971
This seems to be excluding all topics and resources if a zip code is entered from the start. I entered 96701, then went to topics and resources and nothing shows up under any of them. If I enter the more generic "Hawaii", they do show up. This is not the desired behavior for location.

[2019-10-07 15:16] grawdon commented on #970
County is the same as zip code. I entered "Kunia" for county, changed location, and no resources showed up.

[2019-10-07 16:14] grawdon commented on #959
Logo is missing from pages and from PDF.

[2019-10-07 16:23] grawdon commented on #56
I don't see date. Changing the location does seem to work. If I search for all of Hawaii first and then narrow down by zip, it does return resources.

[2019-10-07 16:24] grawdon commented on #56
@KellyeDC Did we decide to eliminate sorting by Date?

[2019-10-07 16:26] grawdon commented on #922
I don't see a period, so it looks fixed.

[2019-10-07 16:26] #922 closed, assigned to KellyeDC-zz, asaperski-gloriumtech, svasylenko, grawdon

[2019-10-07 16:30] grawdon commented on #974
I'm not seeing any display at all for Guided Assist, Organizations, or Videos.
Example of organization from Hawaii:

![image](https://user-images.githubusercontent.com/46725623/66330375-e1891600-e8f5-11e9-81c4-560eb1cd651a.png)

[2019-10-07 16:32] grawdon commented on #56
Never mind, I found Date. It was an option in Sort.

[2019-10-07 16:32] #56 closed

[2019-10-07 17:22] #986 closed, assigned to KellyeDC-zz

[2019-10-07 17:24] KellyeDC-zz commented on #967
Decided on a different approach.

[2019-10-07 17:24] #967 closed, assigned to KellyeDC-zz, svasylenko, konstantin-orekhov

[2019-10-09 19:12] KellyeDC-zz opened #1009 "GUID buttons not work when print"
The GUIDs work when a user prints the Action Plan, but still do not work when the Action Plan is downloaded.

I attached 2 examples.  The first is from printing.  The successful GUIDs are highlighted.  The second is “download.”  The unsuccessful GUIDS are highlighted.  There are other resources on both documents that look like they did not properly load, but these did not properly load into LN bec

[2019-10-09 19:14] KellyeDC-zz commented on #1009
[GUIDs still not correct if download with highlights 10.9.19.pdf](https://github.com/LSCOIT/LegalNavigator/files/3709060/GUIDs.still.not.correct.if.download.with.highlights.10.9.19.pdf)

[2019-10-09 19:14] KellyeDC-zz commented on #1009
[GUIDs printing correctly with highlights 10.9.19.pdf](https://github.com/LSCOIT/LegalNavigator/files/3709061/GUIDs.printing.correctly.with.highlights.10.9.19.pdf)

[2019-10-10 11:08] yevhenobertas commented on #1006
@KellyeDC , @svasylenko, 1-2 hours for investigation of the issue and 1-1.5 hours for the development

[2019-10-10 13:22] yevhenobertas commented on #1005
@KellyeDC , @svasylenko , 1.5-2.5 hours for three databases
(dev,stage,prod)

[2019-10-10 13:24] yevhenobertas commented on #1004
@KellyeDC , @svasylenko
1-3 hours investigation of importing data related to the task
2-4 hours development
1-2 hours testing

There are couple of ways for implementing that.
Best way would be to fix that using some custom validation helper. @KellyeDC Do you agree?

[2019-10-10 13:26] yevhenobertas commented on #960
@KellyeDC , @svasylenko , we need to look at issue in Slack #platform channel.
@KellyeDC Could you please provide me with the permissions to Slack #platform channel? I don't have this one. Thank you.

[2019-10-10 13:47] yevhenobertas commented on #970
@KellyeDC , The same reason as in #971. Could you please provide valid data for the topic entities, so we can retrieve that based on County? Thank you.

[2019-10-10 13:49] yevhenobertas commented on #971
@KellyeDC , The reason of that behavoir is that we don't have valid data in the database. We don't have topic entities with Zip Code value in it. Could you please provide valid data for the topic entities, so we can retrieve that based on Zip Code? Thank you.

[2019-10-10 13:50] yevhenobertas commented on #959
@KellyeDC Need more information. Which logo do we need to place to pdf? Legal Navigator or house image?
Do we need to keep font size and font color the same as it is displayed? (Currently it is not working)

[2019-10-10 13:58] yevhenobertas commented on #974
@KellyeDC , We tried to reproduce this issue. And we can't reproduce it. Could you please provide with more information (for example video) & steps to reproduce? Thank you.

I suggest to best way to describe issues and bugs is to use **the next example:**

Preconditions:

Development environment

Steps to reproduce:

1. Login the application

2. Click on the "" Button

3. Switch to Topics & Resour

[2019-10-10 14:01] yevhenobertas commented on #983
@KellyeDC , We tried to reproduce this issue. And we can't reproduce it. Could you please provide with more information (for example video) & steps to reproduce? Thank you.

I suggest to best way to describe issues and bugs is to use the next example:

Preconditions:

Development environment

Steps to reproduce:

1. Login the application

2. Click on the "" Button

3. Switch to Topics & Resources

[2019-10-10 14:09] yevhenobertas commented on #905
Need more information: "It was done, but it is no longer displaying".

[2019-10-10 18:34] KellyeDC-zz commented on #1006
Is the investigation complete or do you require additional information? @svasylenko

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
_____________________________________________________________________
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
M: 703.889.7288
E: bennettk@lsc.gov
________________________________
From: yevhenob

[2019-10-10 18:36] KellyeDC-zz commented on #1005
The focus is stage for review and prod for pilot.  Please remove update in dev, if necessary.

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
_____________________________________________________________________
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
M: 703.889.7288
E: bennettk@lsc.gov
________________________________
From

[2019-10-10 18:37] KellyeDC-zz commented on #1004
After today’s discussion with issue initiating in 2J Author please confirm estimates.

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
_____________________________________________________________________
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
M: 703.889.7288
E: bennettk@lsc.gov
________________________________
From: yevhen

[2019-10-10 18:38] KellyeDC-zz commented on #960
Added Yevhen to #platform channel in Slack 10/10/19

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
_____________________________________________________________________
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
M: 703.889.7288
E: bennettk@lsc.gov
________________________________
From: yevhenobertas <notifications@github.com>

[2019-10-10 18:39] KellyeDC-zz commented on #970
As discussed the location should be mapped to resources not topics.  Please let me know if you require further clarity.

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
_____________________________________________________________________
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
M: 703.889.7288
E: bennettk@lsc.gov
___________

[2019-10-10 18:40] KellyeDC-zz commented on #971
As discussed, location should be mapped to resources for zip code.  (Same as county)

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
_____________________________________________________________________
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
M: 703.889.7288
E: bennettk@lsc.gov
________________________________
From: yevheno

[2019-10-10 18:40] KellyeDC-zz commented on #959
Alaska Courts for Alaska only.

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
_____________________________________________________________________
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
M: 703.889.7288
E: bennettk@lsc.gov
________________________________
From: yevhenobertas <notifications@github.com>
Sent: Thursday, Octo

[2019-10-10 18:42] KellyeDC-zz commented on #974
Demo provided by Product Owner 10/10/19.  Let me know if you have additional questions regarding this defect.

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
_____________________________________________________________________
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
M: 703.889.7288
E: bennettk@lsc.gov
_____________________

[2019-10-10 18:43] KellyeDC-zz commented on #983
It appears to work fine in DEV, please move to “Ready for Review”. We will request code push for all approved issues shortly.

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
_____________________________________________________________________
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
M: 703.889.7288
E: bennettk@lsc.gov
_____

[2019-10-10 18:44] KellyeDC-zz commented on #905
Demo provided today.  It is displaying in DEV, not in Stage.

Kellye Bennett
Legal Navigator Project Manager
Legal Services Corporation
_____________________________________________________________________
Office of Information Technology
3333 K Street, NW
Washington, DC 20007
P: 202.295.1569
M: 703.889.7288
E: bennettk@lsc.gov
________________________________
From: yevhenobertas <notifications@gi

[2019-10-11 09:26] svasylenko commented on #905
@KellyeDC are you referring to this logo? Or it should be somewhere else?

![image](https://user-images.githubusercontent.com/46557859/66640870-62138380-ec22-11e9-8dba-5adedf587468.png)

[2019-10-11 09:40] svasylenko commented on #979
@KellyeDC Kellye, you have to press ... and Remove option is shown

![image](https://user-images.githubusercontent.com/46557859/66641845-35f90200-ec24-11e9-8d18-0ca193dad558.png)

Task is fixed.

[2019-10-11 09:40] svasylenko commented on #979
After pressing Remove

![image](https://user-images.githubusercontent.com/46557859/66641927-5759ee00-ec24-11e9-926f-00f60a4b13ad.png)

[2019-10-11 12:58] TarasFromGlorium commented on #1006
The investigation was comleted and the bug was fixed on the development environment.

[2019-10-11 13:00] yevhenobertas commented on #1006
@KellyeDC , The investigation was completed and the bug was fixed on the development environment

[2019-10-11 13:02] yevhenobertas commented on #1006
@KellyeDC , You can not check our fix on the development environment because of Spot. You can check on the staging environment after deployment there.

[2019-10-11 13:12] yevhenobertas commented on #974
@KellyeDC , the investigation was completed and the bug was fixed on the development environment
Screenshot ![from 3 to 5](https://user-images.githubusercontent.com/48689437/66653980-df9abc00-ec41-11e9-8e92-0483af1e2745.png)

[2019-10-11 16:31] svasylenko commented on #1006
@KellyeDC deployment is scheduled on Tuesday morning our TZ since Monday is public holiday.

[2019-10-15 18:26] KellyeDC-zz opened #1010 "Missing Resources available for filtering (Topics/Resources)"
<img width="920" alt="Resources Missing from Topics List" src="https://user-images.githubusercontent.com/45771252/66858674-c3579180-ef57-11e9-9fef-98fdad9936eb.PNG">

[2019-10-17 14:38] yevhenobertas commented on #1005
@KellyeDC , Fixed on the both development and staging environments.

[2019-10-17 14:39] yevhenobertas commented on #1004
@KellyeDC , Fixed on the development environment

[2019-10-17 15:59] yevhenobertas commented on #970
@KellyeDC , Fixed in the development environment

[2019-10-17 16:00] yevhenobertas commented on #971
@KellyeDC , Fixed in the development environment

[2019-10-17 16:02] yevhenobertas commented on #960
@KellyeDC , Fixed in the development environment

[2019-10-28 13:18] yevhenobertas commented on #1005
@KellyeDC We have removed Topic Icons from display for Alaska in both dev and stage environments.
Remaining Topic Icons for Alaska:
Family
Domestic Violence and Abuse

[2019-11-05 10:27] yevhenobertas opened #1012 "Content reordering"
Reported by Glenn:
The states would like to change the order of resources display on the screen.  Please note if the resourceType does not exist, then skip to the next resourceType in the sequence.
Fo each state the resourceType is as follows:
Articles-->Additional Readings-->Videos-->Forms-->Organizations

[2019-11-06 16:33] yevhenobertas commented on #959
@KellyeDC , fixed and deployed to development environment

[2019-11-06 16:33] yevhenobertas commented on #1012
@KellyeDC , the issue with resourceType was fixed and deployed to development environment

[2020-01-10 17:16] #859 closed, assigned to grawdon, KellyeDC

[2020-01-10 17:17] #861 closed, assigned to grawdon, KellyeDC

[2020-01-10 17:18] #860 closed, assigned to grawdon, KellyeDC

[2020-01-10 17:19] #862 closed, assigned to grawdon, KellyeDC

[2020-01-10 17:22] KellyeDC commented on #855
@grawdon We've been able to test this quite a bit.  It works fine now for zip code, but we have a few issues with county.  Do you want to keep this open or create a specific defect for county and linked it with this and the county requirement?

[2020-01-10 17:29] grawdon commented on #855
@KellyeDC I would create a specific defect for county but remind them to test to be zip code is still working after county is fixed. As I think about it, I wonder if we should eliminate county all together for now. As Alex said, we want to encourage them to use zip code. We should see if they have any zip codes that overlap counties. If we could eliminate it, at least for now, it would simplify th

[2020-01-10 17:31] KellyeDC commented on #855
Makes sense @grawdon .  I will prioritize these location tasks for them next week.

[2020-01-10 17:36] KellyeDC commented on #690
@grawdon It appears that this issue is not working, as it isn't displaying all resources and we need to discuss how the filter is applied to resources, when they are saved to a registered user's profile

[2020-01-10 17:37] KellyeDC commented on #979
Issue resolved

[2020-01-10 17:37] #979 closed, assigned to Olgaivchenko, KellyeDC

[2020-01-10 19:47] grawdon commented on #1004
This problem was resolved. The <br> was no longer there.

[2020-01-10 19:47] #1004 closed, assigned to grawdon, KellyeDC

[2020-01-10 19:58] KellyeDC opened #1014 "Add New Parent/Topic Icons"
New LegalNAv Icons for:

1.	Health
2.	Traffic & Cars
3.	Estates & Wills
4.	Courts & Lawyers
5.	Civil Rights & Human Rights
6.	Disaster Relief

[2020-01-10 20:35] grawdon commented on #1000
@KellyeDC-zz @yevhenobertas @asaperski-gloriumtech The topic ordering still seems to be alpha, not in ranking order.
![image](https://user-images.githubusercontent.com/46725623/72184621-72b8ce80-33b6-11ea-9276-c8da3413792e.png)

[2020-01-10 20:38] grawdon commented on #992
@KellyeDC Is this in the admin panel? I'm not sure how I'm supposed to test.

[2020-01-10 20:47] grawdon commented on #966
Tested and this was fixed for AK Protective Order in Dev.

[2020-01-10 20:47] #966 closed, assigned to grawdon, konstantin-orekhov, KellyeDC

[2020-01-10 20:51] grawdon commented on #983
I agree. This was fixed for me in Dev. I moved on from location when I chose several locations and could always move forward.

[2020-01-10 20:51] #983 closed, assigned to svasylenko, grawdon, KellyeDC

[2020-01-10 20:53] KellyeDC opened #1015 "Resources received from 211 via RTM API - ranking vs. alphabetized"
How will the resources received from 211 render on screen?

Option 1 - Ranking
Option 2 - Alphabetical

[2020-01-10 20:55] grawdon commented on #984
@KellyeDC Prod is up and running, but the Guided Assists are not working. How functional does this issue need to be to be resolved.

[2020-01-10 20:59] grawdon commented on #956
@KellyeDC I'm not sure what I'm looking for here. I read the whole thread and still don't understand. Can we discuss?

[2020-01-10 20:59] KellyeDC opened #1016 "Organizations Display for Legal/Non- Legal Resources - Create Mock-up/Wireframe for design options"
Organizations Display for Legal/Non- Legal Resources - Create Mock-up/Wireframe for design options

Legal Organizations should display on the "side bar", as designated by the state

Legal organizations, ranked by topic should display in 'legal' resources column

211 and other organizations should display alphabetically by topic in the 'other' resources column

[2020-01-10 21:01] KellyeDC opened #1017 "Updates for Platform static Content for PROD - Smartsheets"
For Kellye (LSC) tracking of static content tasks in Smartsheets

[2020-01-10 21:05] KellyeDC opened #1018 "Apostrophe Issue between A2J and LN"
Apostrophe Issue between A2J and LN

Glorium fixed it so that the upload procedure will substitute the right type of apostrophe during an upload. This means Glorium will need to upload again any that do not show up. Jeannie, we’ll need you to identify those for Glorium. You should be able to tell which resources are not showing up in the A2J dropdown and identify them on the spreadsheet.

[2020-01-10 21:06] grawdon commented on #991
@KellyeDC @yevhenobertas @asaperski-gloriumtech This is still not fixed. When I click on an organization in Protective Orders the breadcrumb jumps to Issues for immigrants in Protective Order Cases. See below:
![image](https://user-images.githubusercontent.com/46725623/72186361-b57ca580-33ba-11ea-8296-ca74477367d3.png)
![image](https://user-images.githubusercontent.com/46725623/72186371-bca3b380-3

[2020-01-10 21:10] KellyeDC opened #1019 "CALI - GUID reconciliation between A2J/LN"
NOTE: Task the CALI team are working on.

CALI - GUID reconciliation between A2J/LN.  GLorium provided extract to them for reference.

[2020-01-10 21:14] KellyeDC opened #1020 "Ranking appears to largely be working, but was not working for “Foster Care.” The order is wrong when cross referenced with the spreadsheet [Version 17.1]"
Ranking appears to largely be working, but was not working for “Foster Care.” The order is wrong when cross referenced with the spreadsheet.

Reported by Alex Forger 1/7/2020

[2020-01-10 21:16] KellyeDC opened #1021 "Display functionality is not working for certain organizations (examples with screenshots are provided in slack such as Waianae Coast and ACLU)"
Display functionality is not working for certain organizations (examples with screenshots are provided in slack such as Waianae Coast and ACLU)

Version [17.1]

Reported by 1/7/2020

[2020-01-10 21:19] KellyeDC opened #1022 "Organization number at the top does not reflect the number of organizations actually listed (see foster care with 6 at top but 4 showing)"
Organization number at the top does not reflect the number of organizations actually listed (see foster care with 6 at top but 4 showing)

Version [17.1]

Reported by Alex Forger 1/7/2020

[2020-01-10 21:21] grawdon commented on #346
@KellyeDC @yevhenobertas @asaperski-gloriumtech I tried to share from one of my accounts to another but the link never showed up, so I couldn't test to see if I could remove it. Does this do in batches or real time?

[2020-01-10 21:25] KellyeDC opened #1023 "Money, Debt, and Consumer Issues is not showing as a parent topic"
Money, Debt, and Consumer Issues is not showing as a parent topic

Version [17.1]

Reported by Alex Forger 1/7/2020

[2020-01-10 21:31] grawdon commented on #943
Yes, I was able to save multiple PAPs.

[2020-01-10 21:34] KellyeDC opened #1024 "Child topic is rendering as a parent (Domestic Violence and Abuse) in STG"
Child topic is rendering as a parent (Domestic Violence and Abuse) in STG

Reported by Alex Forger 1/12020

[2020-01-10 21:35] grawdon commented on #961
Guided assist is appear on top on the right.

[2020-01-10 21:35] KellyeDC opened #1025 "Outdated parent rendering (Native Rights) in STG"
Outdated parent rendering (Native Rights) in STG

Reprorted by Alex Forger 1/7/2020

[2020-01-10 21:35] #961 closed, assigned to Olgaivchenko, KellyeDC

[2020-01-10 21:37] KellyeDC opened #1026 "Location not working properly. See Discrimination Around Housing and Housing Assistance and Subsidized Housing with zip code 96813 where orgs from Maui and Kauai show up (STG)"
Location not working properly. See Discrimination Around Housing and Housing Assistance and Subsidized Housing with zip code 96813 where orgs from Maui and Kauai show up (STG)

Reported by Alex Forger 1/10/2020

[2020-01-10 21:38] grawdon commented on #756
Yes, articles were showing up in the searches.

[2020-01-10 21:38] #756 closed

[2020-01-10 21:38] KellyeDC opened #1027 "Orgs generally do not appear to be associated properly but I can’t be sure without knowing what spreadsheet this is based on. (STG)"
Orgs generally do not appear to be associated properly but I can’t be sure without knowing what spreadsheet this is based on. (STG)

Reported by Alex Forger 1/7/2020

[2020-01-10 21:39] grawdon commented on #77
@KellyeDC Share was not working between my accounts. I'm going to share something with you to see if it is working.

[2020-01-10 21:47] grawdon commented on #913
@KellyeDC @yevhenobertas @asaperski-gloriumtech I have two PAPs saved and cannot get either to print or download, much less have a logo. This happens even when I uncheck one. If I remove one, I can download the remaining plan, but I can't print it and it doesn't have a logo.

[2020-01-10 21:53] grawdon commented on #905
@KellyeDC Where did they want the logo? Right now it is by itself in a section above information you can trust. And none of the information buttons go anywhere. I get a 404 error.

![image](https://user-images.githubusercontent.com/46725623/72189006-5a01e600-33c1-11ea-9f78-51dfdfdab370.png)

[2020-01-13 13:47] ozholob commented on #1026
@KellyeDC Hello!
We've fixed that on the development environment. (You can see that on dev there are 7 organizations only instead of 15 on stage)
![image](https://user-images.githubusercontent.com/55988406/72260572-d132b680-361b-11ea-95c4-9dd42b60f64e.png)
![image](https://user-images.githubusercontent.com/55988406/72260633-f3c4cf80-361b-11ea-94a0-8b0e991c69b3.png)

[2020-01-13 13:55] ozholob commented on #1024
Hi! @KellyeDC Fixed on dev, as well on stage.
![image](https://user-images.githubusercontent.com/55988406/72261211-10153c00-361d-11ea-94bd-16ebed6878fe.png)

[2020-01-13 13:56] ozholob commented on #1023
Hello, @KellyeDC fixed on dev:
![image](https://user-images.githubusercontent.com/55988406/72261349-4e126000-361d-11ea-8f8d-7bf0ae2ba67b.png)

[2020-01-13 14:00] ozholob commented on #1022
Hi, @KellyeDC, could you please provide a topic name or id where you've encountered this issue?
On dev seems working well
![image](https://user-images.githubusercontent.com/55988406/72261614-d6910080-361d-11ea-9fa3-14152734393d.png)
Thanks

[2020-01-13 14:33] ozholob commented on #1021
Hi @KellyeDC, it's fixed on dev
![image](https://user-images.githubusercontent.com/55988406/72263899-79e41480-3622-11ea-91b5-433efbfcc6e5.png)
Thanks

[2020-01-13 14:42] ozholob commented on #952
Hi @KellyeDC, fixed for dev & stage:
![image](https://user-images.githubusercontent.com/55988406/72264569-9e8cbc00-3623-11ea-8e19-0f41806ad45c.png)
Thanks

[2020-01-14 11:16] ozholob commented on #951
Hi @KellyeDC, fixed on dev and stage
![image](https://user-images.githubusercontent.com/55988406/72340030-144e6180-36d0-11ea-917f-ee8695ac94c2.png)

[2020-01-14 11:21] ozholob commented on #950
Hi @KellyeDC, fixed
![image](https://user-images.githubusercontent.com/55988406/72340337-b79f7680-36d0-11ea-922c-5ea1d6e15ada.png)

[2020-01-15 09:11] ozholob commented on #991
Hi @grawdon, fixed on dev
![image](https://user-images.githubusercontent.com/55988406/72420615-ba10d780-3787-11ea-880e-225675d4f06f.png)
![image](https://user-images.githubusercontent.com/55988406/72420676-d44ab580-3787-11ea-98e3-1c26ab271da6.png)

[2020-01-15 09:13] ozholob commented on #913
Hi @grawdon, fixed on dev
![image](https://user-images.githubusercontent.com/55988406/72420800-06f4ae00-3788-11ea-9ef3-ebdf9a1111cb.png)
![image](https://user-images.githubusercontent.com/55988406/72420815-0a883500-3788-11ea-96ae-3ed25244a9f4.png)

[2020-01-15 10:34] ozholob commented on #991
Hi @grawdon, I could not reproduce that. It seems to be fixed on dev. Thanks
![image](https://user-images.githubusercontent.com/55988406/72426891-45439a80-3793-11ea-9e36-1e1bd3532d15.png)

[2020-01-15 12:17] ozholob commented on #1000
Hi @grawdon it's fixed on DEV as well.
However, there is a case when it will work alphabetically.
For example, if all resources have ranking=1. In this case, it works alphabetically.
In fact, if you specify ordering like:
Child and Family Service - Maui: ranking = 1
Child and Family Service - Molokai: ranking = 2
The ordering will work as expected.

Please let me know if you have any troubles with

[2020-01-15 13:32] ozholob commented on #991
Hi @grawdon, it's fixed on DEV
![image](https://user-images.githubusercontent.com/55988406/72437767-28679100-37ac-11ea-98a5-688600c9964d.png)
Thanks

[2020-01-15 15:21] yevhenobertas commented on #1027
@KellyeDC @grawdon It’s not clear what needs to be done. Let's provide more details or ask Alex Forger for requirements.

[2020-01-15 15:22] yevhenobertas commented on #1025
@KellyeDC @grawdon , It’s not clear what needs to be done. Let's provide more details or ask Alex Forger for requirements.

[2020-01-15 15:24] yevhenobertas commented on #1020
@KellyeDC @grawdon We can not reproduce this issue. It’s not clear what needs to be done. Let's provide more details or ask Alex Forger for requirements or steps to reproduce (video record or screenshots). What does cross-referenced mean?

[2020-01-15 15:25] yevhenobertas commented on #1019
@KellyeDC @grawdon Does not require involvement from Glorium now

[2020-01-15 15:26] yevhenobertas commented on #1018
@KellyeDC @grawdon Does not require involvement from Glorium now

[2020-01-16 17:15] KellyeDC commented on #1000
@ozholob Was this issue resolved or did it appear that most of the resources were defaulted to rank at "1", which resulted in alphabetical order?

[2020-01-16 18:03] KellyeDC commented on #945
@svasylenko @ozholob Do we have an update on this issue?

[2020-01-16 18:11] KellyeDC commented on #855
@svasylenko Have you had a chance to review this with issue #971 and #970 to make certain location mechanism is fixed?

[2020-01-16 18:14] KellyeDC commented on #445
@ozholob @yevhenobertas @svasylenko Please ensure that all fields for organizations (resourceType) renders on the screen, i.e. specialties, eligibility (where applicable).  Please reference Organization tab on the Resources spreadsheet for each state.

[2020-01-16 18:19] KellyeDC commented on #505
@yevhenobertas and @svasylenko Hawaii provided a GA for testing to confirm that this feature is supported for guided interviews in LN.  Please provide an update ASAP.  Please look for json in Slack #contenthawaii channel.Or request from Andres.

[2020-01-16 18:28] KellyeDC commented on #1027
@yevhenobertas and @svasylenko Please provide the latest versions uploaded in each environment for topics/resources.  Alex is saying that the organizations that are displayed are not accurately aligned to zip code/county.  We can discuss further.  However, please provide these details and document here in GitHub.  Thanks.

[2020-01-16 18:32] KellyeDC commented on #1026
@grawdon Ready for review in DEV.

[2020-01-16 18:35] KellyeDC commented on #1025
@yevhenobertas and @svasylenko It appears that there is stale data in the stage environment.  There are concerns that we have no efficiently scrubbed the database to include to only include the latest content provided by the state.  The issue is an example that an earlier spreadsheet listed "Native Rights" as a parent topic, but it has been updated to a child level.  Please review, however, we can

[2020-01-16 18:42] KellyeDC commented on #1022
@ozholob I believe this is from STG environment.  We may need to just wait for our next release to stage.  Please check and confirm.

[2020-01-16 18:45] KellyeDC commented on #1021
@ozholob and @svasylenko Let's discuss further, as I do not believe that this issue is resolved.

[2020-01-16 18:52] KellyeDC commented on #1020
@yevhenobertas and @svasylenko Glenn and I 'cross referenced' the ranked content displayed in DEV against the latest resources.  There should be an exact match for ranking in DEV at this point.  so, organization sfor example, ranked 1, 2, 3, 4 and so on in the spreadsheet, should also be listed in that order in LN.  We can discuss further.

[2020-01-16 18:56] KellyeDC commented on #1019
@yevhenobertas Based on the last email, it appears that you all are conducting some investigation and need to circle back with the A2J team.  Is this not correct @svasylenko ?

[2020-01-16 19:00] KellyeDC commented on #1018
@yevhenobertas per the latest email, this issue is being further researched by @svasylenko.  And next steps is a conversation with the A2J tech lead.  Please provide an update ASAP.

[2020-01-17 09:51] JohnGaltt commented on #1000
Hi @KellyeDC this issue resolved.
You are right, in this case, resources have rank "1", and resulted in alphabetical order.
So if you want to order by ranking, we need to make sure, each resource has its own unique ranking within the topic.

[2020-01-17 09:54] ozholob commented on #1000
Hi @KellyeDC  this issue was resolved.
You are right, in this case, resources have rank "1", and resulted in alphabetical order.
So if you want to order by ranking, we need to make sure, each resource has its own unique ranking within the topic.

[2020-01-17 10:51] ozholob commented on #445
@KellyeDC
Hi, we've fixed this issue.
See the screenshot below. (Resource is Organization)
![image](https://user-images.githubusercontent.com/55988406/72606796-f5e2a300-3927-11ea-8e30-fca5b4db8a47.png)
Please confirm
Thanks

[2020-01-17 10:58] ozholob commented on #1022
@KellyeDC Right, it's from STG.
So we need to wait for the release.
Thanks

[2020-01-20 11:47] svasylenko commented on #996
fixed. needs push on STAGE

[2020-01-20 12:45] yevhenobertas commented on #505
@KellyeDC @svasylenko I have asked Alex providing us with the JSON GA that contains "if/else" clause. It seems A2J parser should process ELSE clause. And we need to test it once again.

[2020-01-21 10:12] ozholob commented on #945
@KellyeDC-zz Yes, we've fixed that on DEV.
Here are examples:
[New.pdf](https://github.com/LSCOIT/LegalNavigator/files/4090464/New.pdf)
[Old.pdf](https://github.com/LSCOIT/LegalNavigator/files/4090465/Old.pdf)
You can notice slight differences at the bottom of the page.
Thanks

[2020-01-21 16:46] svasylenko commented on #445
N/A in address is due to:

![image](https://user-images.githubusercontent.com/46557859/72824693-65d19000-3c7e-11ea-8461-cfcd8e288248.png)

[2020-01-21 16:47] KellyeDC commented on #445
Ready for review by PO

[2020-01-21 16:54] KellyeDC commented on #1027
Unable to confirm, until code is pushed to STG.

[2020-01-21 16:56] KellyeDC commented on #1025
Unable to test until code push to STG

[2020-01-21 16:58] svasylenko commented on #1021
One-time issue. Fixed manually on DB level.

[2020-01-21 17:23] svasylenko commented on #1000
Tested on: Housing->Housing Assistance and Subsidized Housing. Orgs are ranked the same in file hence sorted alphabetically on portal. @svasylenko needs to ping Alex Forger to go through that.

[2020-01-21 17:46] svasylenko opened #1028 "Print PAP plan by plan"
We have to add "Print" URL left to ... in PAP to be able to print specific plan.

[2020-01-21 17:48] KellyeDC commented on #1018
Unable to test until code push to STG

[2020-01-22 18:50] svasylenko opened #1029 "Remove "Additional Readings" from the Personalized Action Plan in the Guided Assistant"
This block kto be removed from PAP.

![image](https://user-images.githubusercontent.com/46557859/72923989-c2a17900-3d58-11ea-846b-72aa61e427e6.png)

[2020-01-22 18:51] svasylenko opened #1030 "Change "Additional Readings" resourceType in Topics/Resources to "Related Readings"."
Change "Additional Readings" resourceType in Topics/Resources to "Related Readings" and inform States about such change via slack.

[2020-01-22 19:56] grawdon commented on #1026
@KellyeDC I tested it for the scenario outlined and Maui and Kaui resources no longer showing up.

[2020-01-22 19:56] #1026 closed, assigned to grawdon, KellyeDC

[2020-01-22 19:59] grawdon commented on #1023
@KellyeDC It is showing up now.

[2020-01-22 19:59] #1023 closed, assigned to grawdon, KellyeDC

[2020-01-22 20:02] grawdon commented on #1024
@KellyeDC  It is not showing up as parent in dev, so I am assuming this will be fixed with DEV is pushed to STG.

[2020-01-22 20:03] #1024 closed, assigned to grawdon, KellyeDC

[2020-01-22 20:37] grawdon commented on #913
@ozholob @KellyeDC  I still cannot print when I am in Chrome. I can download, but not print. I have made sure the pop up blocker has DEV as a safe site and my ad blocker is turned off.

[2020-01-22 20:41] grawdon commented on #991
@KellyeDC-zz When I tested two different organizations, the right breadcrumbs showed up both times. Appears to be fixed.

[2020-01-22 20:41] #991 closed, assigned to svasylenko, grawdon, yevhenobertas, KellyeDC

[2020-01-22 20:51] grawdon commented on #971
@KellyeDC-zz Since Alaska does not use zip codes, I could only test for Hawaii. I did two different zip codes and the resources were returned relevant to those zip codes.

[2020-01-22 20:51] #971 closed, assigned to KellyeDC-zz, grawdon, KellyeDC

[2020-01-22 20:55] grawdon commented on #923
@KellyeDC-zz I was not able to reproduce this problem. I have done many PAPs over the past months and have never seen it.

[2020-01-22 20:55] #923 closed, assigned to KellyeDC-zz, grawdon, KellyeDC

[2020-01-22 21:00] grawdon commented on #445
@KellyeDC I looked at half a dozen organizations and all had all of the fields. It worked correctly.

[2020-01-22 21:00] #445 closed

[2020-01-22 21:17] grawdon commented on #970
@KellyeDC-zz  We decided to use zip codes only for now. AK doesn't use counties and HI believes it is a better location for narrowing resources.

[2020-01-22 21:17] #970 closed, assigned to KellyeDC-zz, grawdon, KellyeDC

[2020-01-22 21:33] grawdon commented on #950
@KellyeDC-zz Space is there.

[2020-01-22 21:34] #950 closed, assigned to KellyeDC-zz, grawdon, KellyeDC

[2020-01-22 21:37] grawdon commented on #951
@KellyeDC-zz All hyperlinks are working.

[2020-01-22 21:37] #951 closed, assigned to KellyeDC-zz, grawdon, KellyeDC

[2020-01-22 21:38] grawdon commented on #952
@KellyeDC-zz Space is there.

[2020-01-22 21:38] #952 closed, assigned to KellyeDC-zz, grawdon, KellyeDC

[2020-01-22 21:42] grawdon commented on #905
@KellyeDC The Alaska Court logo shows up on their page. For Hawaii, it only says: Hawaii community member. Is that a place holder? If so, we need to see what they want to go there.

[2020-01-23 16:17] grawdon commented on #1002
@KellyeDC-zz We never did discuss. Let's be sure to cover tomorrow.

[2020-01-23 16:19] grawdon commented on #992
@KellyeDC-zz I never heard back from you on this.

[2020-01-23 16:20] grawdon commented on #984
@KellyeDC-zz  Again, I don't find I heard back from you on this.

[2020-01-23 16:27] grawdon commented on #956
@KellyeDC-zz I can't tell if this is working or not. I could not find a child 2 guided assist. I will reach out to Jeannie and Alex.

[2020-01-24 14:25] yevhenobertas commented on #855
@KellyeDC  both tickets above were verified by Glenn.

[2020-01-24 14:48] yevhenobertas opened #1031 "Sharing of content does not work properly"
Sharing of content does not work properly
![Example of error](https://user-images.githubusercontent.com/48689437/73077696-55f9bc00-3ec9-11ea-8964-531e1e55a667.png)
![wording](https://user-images.githubusercontent.com/48689437/73077698-56925280-3ec9-11ea-9173-701c6acbf15f.png)

[2020-01-24 14:51] KellyeDC commented on #992
PO review not required.

[2020-01-24 14:51] #992 closed, assigned to svasylenko, grawdon, yevhenobertas, KellyeDC

[2020-02-07 15:06] KellyeDC commented on #1014
@yevhenobertas and @svasylenko Please prioritize for completion.  These icons should be added to stage/dev for pilot.

[2020-02-12 17:02] svasylenko opened #1032 "remove Additional readings section from PAP"
![image](https://user-images.githubusercontent.com/46557859/74358389-091f4c00-4dca-11ea-91c0-10c3b1601266.png)

Plz remove Additional readings section from here (PAP)

[2020-02-19 00:37] KellyeDC commented on #1032
@svasylenko Is this issue resolved?

[2020-02-19 01:00] KellyeDC opened #1033 "Provide list of new icons urls for Hawaii. Update in Slack #content-hawaii"
Provide list of new icons urls for Hawaii.  Update in Slack #content-hawaii.  These also need to be added to the latest topics spreadsheet that is loaded.

[2020-02-19 01:07] KellyeDC opened #1034 "Inconsistent ranking of resources for Hawaii - details in Slack #content-hawaii"
Slack Reference: Administrative Agency Hearings: This is for zip code 96813. On Stage they are ranked 1) Legal Aid Society of Hawaii, 2) Hawaii Online Pro Bono Free Legal Answers, 3) Hawaii Disability Rights Center, 4) HSBA Lawyer Referral Service, 5) HSBA Legal Line. On the spreadsheet they are ranked: 1) Legal Aid Society of Hawaii. 2) HSBA Lawyer Referral Service, 3) Hawaii Online Pro Bono Free

[2020-02-19 01:08] KellyeDC opened #1035 "Search issue with 'divorce' content - Alaska"
Reference feedback from Jeannie - #2

[2020-02-19 01:09] KellyeDC opened #1036 "General Search Box Issue - Order of Resources not ranked and Headers Reordered"
Emailed feedback from Jeannie - #3

[2020-02-19 01:10] KellyeDC opened #1037 "Related Links and Related Readings as Resources - Should 'related links' display?"
Emailed feedback from Jeannie - #4

[2020-02-19 01:11] KellyeDC opened #1038 "Missing Content (AK) -"Starting a Case to End Your Marriage" GA"
Emailed feedback from Jeannie - #6

[2020-02-19 14:55] ozholob commented on #1032
Hi, @KellyeDC - yes

[2020-02-21 13:51] KellyeDC opened #1039 "Remove sections/containers from "Privacy Promise screen (static content)"
Remove sections/containers from "Privacy Promise screen (static content)

[2020-02-21 13:51] KellyeDC opened #1040 "Change header/footer "Privacy Promise" to "Privacy Notice " on Home page"
Change header/footer "Privacy Promise" to "Privacy Notice " on Home page

[2020-02-21 13:51] KellyeDC opened #1041 "Change Privacy page heading from "Privacy" to " Legal Navigator Privacy Promise""
Change Privacy page heading from "Privacy" to " Legal Navigator Privacy Promise"

[2020-02-21 17:53] KellyeDC commented on #1036
Functions as expected

[2020-02-21 17:53] #1036 closed, assigned to nobody

[2020-02-21 18:47] KellyeDC opened #1042 "Change "Privacy Promise" in location box to "Privacy Notice""
Change "Privacy Promise" in location box to "Privacy Notice"

[2020-02-21 18:48] KellyeDC opened #1043 "Change "Privacy Promise" on home page to "Our Privacy Notice"."
Change "Privacy Promise" on home page to "Our Privacy Notice".

[2020-02-26 15:47] yevhenobertas commented on #1040
Ready for review on Dev. and Stage env.

[2020-02-26 15:48] yevhenobertas commented on #1040
@KellyeDC @grawdon @svasylenko

[2020-02-27 15:07] yevhenobertas commented on #1039
@grawdon @KellyeDC , Ready for review on Dev env.

[2020-02-27 15:08] yevhenobertas commented on #1041
Ready for review on Dev env.

[2020-02-27 15:10] yevhenobertas commented on #1042
@KellyeDC @grawdon Ready for review on Dev env.

[2020-02-27 15:10] yevhenobertas commented on #1043
@KellyeDC @grawdon Ready for review on Dev env.

[2020-03-04 19:09] KellyeDC opened #1044 "Change verbiage in Location pop-up screen from "Enter a state name to see relevant information for that location" to include zip code search"
Change verbiage in Location pop-up screen from "Enter a state name to see relevant information for that location" to include zip code search

[2020-03-04 19:10] KellyeDC opened #1045 "Hide sidebar (3 organization) featured on topics/resources screen for both states"
Hide sidebar (3 organization) featured on topics/resources screen for both states

[2020-03-04 20:29] grawdon commented on #1044
@KellyeDC The new verbiage should be, "Enter a state name or zip code to see relevant information for that location"

[2020-03-04 20:33] grawdon commented on #1045
@KellyeDC @svasylenko So there is no confusion, it is the box on the lower right side of the screen that shows organizations. Here is a screenshot:
![image](https://user-images.githubusercontent.com/46725623/75920458-04781180-5e25-11ea-9cd9-8bf88ba1bcf2.png)

[2020-04-07 14:24] KellyeDC opened #1046 "Remove the sort feature from topics/resources search results screen"
Remove the sort feature from topics/resources search results screen

[2020-04-07 14:25] KellyeDC opened #1047 "Remove organizations at bottom of the action plan when initially generated"
Remove organizations at bottom of the action plan when initially generated

[2020-04-07 21:02] svasylenko commented on #1047
Implemented on dev. Awaits approval for deployment to Stage. @KellyeDC

[2020-04-12 22:43] KellyeDC opened #1048 "Requirement: As a platform admin, I want to log in to the platform, using my Microsoft and/or Google credentials"
Page: Admin

Section : Admin log-in

PO Feedback: N/A

[2020-04-12 22:43] KellyeDC opened #1049 "Requirement: As a platform admin, I want to grant users access to the platform (Platform Admin, State Admin, Content Author, Content Approver)"
Page: Admin

Section : User access

PO Feedback: N/A

[2020-04-12 22:43] KellyeDC opened #1050 "Requirement: As a platform admin, I want to manage the permissions of the various users. For example, read/write/approve permissions on specified areas of the platform."
Page: Admin

Section: Role Permissions

PO Feedback:  We should make it clear that we want to able to segregate jurisdictions. Initially these will be states but could be more limited, such as LA County, CA.

[2020-04-12 22:43] KellyeDC opened #1051 "Requirement: As a platform admin, I want segregate jurisdictions by State/City/County, etc."
Page: Admin

Section: Role Permissions

PO Feedback:  N/A

[2020-04-12 22:43] KellyeDC opened #1052 "Requirement: As a platform admin, I want to manage the platform's interaction with external systems and applications. Separate requirements will be determined for each external platform interaction (if applicable)"
Page: Admin/Heap

Section: Manage external application interaction

PO Feedback:

[2020-04-12 22:44] KellyeDC opened #1053 "Requirement: As a platform admin, I want to capture data analytics and display pertinent information (evaluation data, survey, demographics)"
Page: Admin

Section: Monitor Data Analytics

PO Feedback: N?A

Covered via Heap.io

[2020-04-12 22:44] KellyeDC opened #1054 "Requirement: As a platform admin, I want to report on data analytics with pre-packaged reports. (covered in Heap.io)"
Page: Admin

Section: Reporting

PO Feedback:  N/A

[2020-04-12 22:44] KellyeDC opened #1055 "Requirement: As a platform admin, I want to add individual service provider and/or end user testimonies by state"
Page: Home

Section: Testimonial

PO Feedback: N/A

[2020-04-12 22:44] KellyeDC opened #1056 "Requirement: As a platform admin, I want to manage the content for "Information you can trust""
Page: Home

Section: Information you can trust

PO Feedback: N/A

[2020-04-12 22:44] KellyeDC opened #1057 "Requirement: As a platform admin, I want to manage the content for "Privacy Notice""
Page: Home

Section: Privacy Notice

PO Feedback: N/A

[2020-04-12 22:45] KellyeDC opened #1058 "Requirement: As a platform admin, I want to be able to add/edit and delete media content"
Page: Home

Section: Media Content

PO Feedback: N/A

[2020-04-12 22:45] KellyeDC opened #1059 "Requirement: As a platform admin, I want to manage the content for "Our Mission""
Page: About

Section: Our Mission

PO Feedback:  N/A

[2020-04-12 22:45] KellyeDC opened #1060 "Requirement: As a platform admin, I want to manage the content for "Our Services""
Page: About

Section:  Our Services

PO Feedback: N/A

[2020-04-12 22:45] KellyeDC opened #1061 "Requirement: As a platform admin, I want to manage the content for "In the News""
Page: About

Section: In the News

PO Feedback: N/A

[2020-04-12 22:45] KellyeDC opened #1062 "Requirement: As a platform admin, I want to manage the content for "Contact Us""
Page: About

Section:  Contact Us

PO Feedback: N/A

[2020-04-12 22:45] KellyeDC opened #1063 "Requirement: As a platform admin, I want to manage the content for "Media Inquiries""
Page: About

Section: Media Inquiries

PO Feedback:

[2020-04-12 22:46] KellyeDC opened #1064 "Requirement: As a platform admin, I want to manage the content for "Help""
Page: About

Section: Help

PO Feedback: N/A

[2020-04-12 22:46] KellyeDC opened #1065 "Requirement: As a platform admin, I want to manage the content for "FAQs""
Page: About

Section: FAQs

PO Feedback: N/A

[2020-04-12 22:46] KellyeDC opened #1066 "Requirement: As a platform admin, I want to be able to add/edit and delete media content"
Page: About

Section: N/A

PO Feedback: N/A

[2020-04-12 22:46] KellyeDC opened #1067 "Requirement: As a platform admin, I want to add new users"
Page: N/A

Section: User Log-in

PO Feedback: N/A

[2020-04-12 22:46] KellyeDC opened #1068 "Requirement: As a platform admin, I want to delete users"
Page: N/A

Section: User Log-in

PO Feedback: N/A

[2020-04-12 22:46] KellyeDC opened #1069 "Requirement: As a platform admin, I want to update users' information"
Page: N/A

Section: User Log-in

PO Feedback: N/A

[2020-04-12 22:46] KellyeDC opened #1070 "Requirement: As a platform admin, I want to review a user's activity (other users activity log)"
Page: N/A

Section: User Log-in

PO Feedback: N/A

[2020-04-12 22:46] KellyeDC opened #1071 "Requirement: As a state admin, I want to upload a guided interview using a json file"
Page: Guided Assistant admin panel

Section:  Guided Assistant

PO Feedback:

Development: Researching capabilities for WordPress

[2020-04-12 22:47] KellyeDC opened #1072 "Requirement: As a state admin, I want to upload a guided interview using a xml file"
Page: Guided Assistant admin panel

Section:  Guided Assistant

PO Feedback:

Development: Researching capabilities for WordPress

[2020-04-12 22:47] KellyeDC opened #1073 "Requirement: As a state admin, I want to delete an existing guided interview in json format"
Page: Guided Assistant admin panel

Section:  Guided Assistant

PO Feedback:

Development: Researching capabilities for WordPress

[2020-04-12 22:47] KellyeDC opened #1074 "Requirement: As a state admin, I want to delete an existing guided interview in xml format"
Page: Guided Assistant admin panel

Section:  Guided Assistant

PO Feedback:

Development: Researching capabilities for WordPress

[2020-04-12 22:47] KellyeDC opened #1075 "Requirement: As a state admin, I want to add/delete a guided interview at child 1 level"
Page: Guided Assistant admin panel

Section:  Guided Assistant

PO Feedback:

Development: Researching capabilities for WordPress

[2020-04-12 22:47] KellyeDC opened #1076 "Requirement: As a state admin, I want to add/delete a guided interview at child 1 level"
Page: Guided Assistant admin panel

Section:  Guided Assistant

PO Feedback:

Development: Researching capabilities for WordPress

[2020-04-12 22:47] KellyeDC opened #1077 "Requirement: As a state admin, I want to manage state topics, based on NSMI v2 parents"
Page: Topics/Resources admin panel

Section: Topics'Resources

PO Feedback: N/A

[2020-04-12 22:48] KellyeDC opened #1078 "Requirement: As a state admin, I want to manage state topics, based on NSMI v2 child 1"
Page: Topics/Resources admin panel

Section: Topics'Resources

PO Feedback: N/A

[2020-04-12 22:48] KellyeDC opened #1079 "Requirement: As a state admin, I want to manage state topics, based on NSMI v2 child 1"
Page: Topics/Resources admin panel

Section: Topics'Resources

PO Feedback: I envision a system that has a drop down of the NSMI v2. As we pick the parent level, child 1 is available. As we pick child 1, child 2 is available, etc. Using a drop down will prevent spelling, spacing and punctuation errors.

[2020-04-12 22:48] KellyeDC opened #1080 "Requirement: As a state admin, I want to add/delete/update "articles" resources"
Page: Resources

Section: Articles

[2020-04-12 22:48] KellyeDC opened #1081 "Requirement: As a state admin, I want to add/delete/update "article section" resources"
Page: Resources

Section: Article Section

[2020-04-12 22:48] KellyeDC opened #1082 "Requirement: As a state admin, I want to add/delete/update "videos" resources"
Page: Resources

Section: Videos

[2020-04-12 22:48] KellyeDC opened #1083 "Requirement: As a state admin, I want to add/delete/update "forms" resources"
Page: Resources

Section: Forms

[2020-04-12 22:48] KellyeDC opened #1084 "Requirement: As a state admin, I want to add/delete/update "organizations" resources"
Page: Resources

Section: Organizations

[2020-04-12 22:49] KellyeDC opened #1085 "Requirement: As a state admin, I want to add/delete/update "related links" resources"
Page: Resources

Section:  Related Links

[2020-04-12 22:49] KellyeDC opened #1086 "Requirement: As a state admin, I want to add/delete/update "organization review" resources (optional)"
Page: Resources

Section: Organization Review

[2020-04-12 22:49] KellyeDC opened #1087 "Requirement: As a state admin, I want to add/delete/update "related readings" resources"
Page: Resources

Section:  Related Readings

[2020-04-12 22:49] KellyeDC opened #1088 "Requirement: As a state admin, I want to manage the organizations by topic/rank"
Page: Resources

Section: Organizations

[2020-04-12 23:27] KellyeDC opened #1089 "Requirement: As a content author, I want to upload a guided interview using a json file (draft)"
Page: Guided Assistant admin panel

Section: Guided Assistant

PO Feedback: Do we want the State Admin to have to approve before it is published? I think we should. Same for other Content Author tasks. Maybe this is for the Content Approver. Does the state admin inherit this permission if they want it?

[2020-04-12 23:28] KellyeDC opened #1090 "Requirement: As a content author, I want to upload a guided interview using a xml file (draft)"
Page: Guided Assistant admin panel

Section: Guided Assistant

PO Feedback: Should a content author's permissions be restricted to topics as permitted by state admin?

[2020-04-12 23:29] KellyeDC opened #1091 "Requirement: As a content author, I want to draft "articles" resources"
Page: Resources

Section: Articles

PO Feedback: N/A

[2020-04-12 23:30] KellyeDC opened #1092 "Requirement: As a content author, I want to draft "article section" resources"
Page: Resources

Section: Article Section

PO Feedback: N/A

[2020-04-12 23:30] KellyeDC opened #1093 "Requirement: As a content author, I want to draft "videos" resources"
Page: Resources

Section: Videos

PO Feedback: N/A

[2020-04-12 23:30] KellyeDC opened #1094 "Requirement: As a content author, I want to draft "forms" resources"
Page: Resources

Section: Forms

PO Feedback: N/A

[2020-04-12 23:31] KellyeDC opened #1095 "Requirement: As a content author, I want to draft "organizations" resources"
Page: Resources

Section: Organizations

PO Feedback:  N/A

[2020-04-12 23:31] KellyeDC opened #1096 "Requirement: As a content author, I want to draft "related links" resources"
Page: Resources

Section: Related Links

PO Feedback: N/A

[2020-04-12 23:32] KellyeDC opened #1097 "Requirement: As a content author, I want to draft "organization review" resources (optional)"
Page:: Resources

Section: Organization Review

PO Feedback:  N/A

[2020-04-12 23:32] KellyeDC opened #1098 "Requirement: As a content author, I want to draft "related readings" resources"
Page: Resources

Section: Related Readings

PO Feedback: N/A

[2020-04-12 23:39] KellyeDC opened #1099 "Requirement: As a Content Approver, I want to approve draft guided interviews in xml format"
Page: Guided Asisitant admin panel

Section: Guided Assistant

PO Feedback: Should content approver be by topics? YES

[2020-04-12 23:40] KellyeDC opened #1100 "Requirement: As a Content Approver, I want to approve draft guided interviews in json format"
Page: Guided Assistant admin panel

Section: Guided Assistant

PO Feedback: N/A

[2020-04-12 23:40] KellyeDC opened #1101 "Requirement: As a Content Approver, I want to approve resources related content, submitted by Content Authors, related to approved topics for state (all resource types)"
Page: Resources admin panel

Section: Resources

PO Feedback: N/A

[2020-04-21 12:43] grawdon commented on #1047
@KellyeDC @yevhenobertas I have verified the organizations at the bottom have been removed when an action plan is first generated.

[2020-04-21 12:43] #1047 closed, assigned to svasylenko, grawdon, KellyeDC

[2020-04-27 14:40] grawdon opened #1102 "Add an option for content providers to upload a JSON file to use for a guided assistant interview or to link to another platform that will be displayed in a widget using the native viewer of the platform."

[2020-04-27 14:53] grawdon opened #1103 "Add widget for the display of guided assistant interview using the native viewer of the authoring platform."

[2020-04-27 14:57] grawdon opened #1104 "Provide a specification so that a personal action plan can be uploaded to LN from an external authoring system and displayed in LN"
This might be in an .rtf format. We need to outline what the output format should look like for LN to display it and use it as if it were generated internally.

[2020-04-27 15:00] grawdon opened #1105 "Provide ability for personal action plan generated by alternative authoring platform to be imported into LN directly from the widget view."
When a user completes a guided assistant interview with another authoring platform in a widget in LN, the output of that interview needs to be imported into LN to be used as a personal action plan.

[2020-05-04 16:24] #984 closed, assigned to svasylenko, grawdon, KellyeDC

[2020-05-04 16:25] grawdon commented on #984
Prod is up and working. There is still a problem with AK guided assistants, but that is not confined to PROD.

[2020-05-04 16:27] grawdon commented on #77
Kellye and I were able to share. This is working.

[2020-05-04 16:27] #77 closed

[2020-05-04 16:30] grawdon commented on #905
The Alaska court system logo and quote have been added.

[2020-05-04 16:30] #905 closed, assigned to svasylenko, grawdon, KellyeDC

[2020-05-04 19:15] grawdon commented on #1102
@asaperski-gloriumtech @KellyeDC Here is a link to a Guided Assistant interview to test. https://www.a2j.org/guide/go/9e343df6-d0bd-4416-9331-0e4e9a010c2b

[2020-05-05 13:40] KellyeDC opened #1106 "Unable to share GAs in production. The share via link and email does not work."
Unable to share GAs in production. The share via link and email does not work.

[2020-05-05 13:42] KellyeDC commented on #1106
Link share: https://www.legalnav.org/share/591546D

[2020-05-08 00:13] KellyeDC opened #1107 "when connecting GUIDs in A2J dropdown menu do not seem to be consistent"
when connecting  GUIDs in A2J. The options that show in the dropdown menu do not seem to be consistent with our most recent spreadsheets. I also noticed that the titles with those odd extensions (see screenshot) that we talked about in the past are still showing up.

[2020-05-08 00:18] KellyeDC commented on #1107
![GUID dropdown](https://user-images.githubusercontent.com/59450227/81356721-dd95c000-909f-11ea-91d4-288af60384af.png)

[2020-05-08 00:20] KellyeDC opened #1108 "Fonts different in GAs/paths"
the "Steps" sometimes show different font. I always use the same  (font 14, arial, black) but sometimes it defaults to other settings (see example in the two steps below). Do you have any tips or know if anyone else has dealt with this in the past? If this is something you think we should send to our dev team and I can put some examples together from different GAs/paths.

[2020-05-08 00:21] KellyeDC commented on #1108
![GA Font Differences](https://user-images.githubusercontent.com/59450227/81356901-509f3680-90a0-11ea-845d-f6b1f3b2c198.png)

[2020-05-12 12:24] svasylenko commented on #1107
Doubling is due to 2 records in DB: 1 as of Feb 11 and the second is for Feb 27.

First one:
![image](https://user-images.githubusercontent.com/46557859/81690830-88252e80-9464-11ea-95f3-ec419d1da625.png)

second one (seems to be correct as has much more content):

![image](https://user-images.githubusercontent.com/46557859/81690865-96734a80-9464-11ea-975c-823f1cc6899c.png)

I will delete first one

[2020-05-12 12:35] svasylenko commented on #1107
Completed. @KellyeDC please review and we could close the ticket.

[2020-05-20 14:25] KellyeDC opened #1109 "External Link listed in Shared Resources Tab"
External Link listed in Shared Resources Tab

[2020-05-20 14:25] KellyeDC commented on #1109
<img width="890" alt="External Link in Resources" src="https://user-images.githubusercontent.com/59450227/82458096-44de4780-9a84-11ea-81ac-c2a5a71a096d.PNG">

[2020-05-22 18:58] yevhenobertas commented on #1033
Done. It was done May 20-th the last time. The list was provided to Andres

[2020-05-22 18:58] yevhenobertas commented on #1033
Done. It was done May 20-th the last time. The list was provided to Andres

[2020-05-22 18:59] #1033 closed, assigned to nobody

[2020-05-22 19:00] yevhenobertas commented on #1034
@KellyeDC Done. Please review.

[2020-05-22 19:00] #1034 closed, assigned to nobody

[2020-05-22 19:03] yevhenobertas commented on #1035
@KellyeDC Done. Please review.

[2020-05-22 19:03] #1035 closed, assigned to nobody

[2020-05-22 19:05] yevhenobertas commented on #1037
@KellyeDC Done, Please review

[2020-05-22 19:05] #1037 closed, assigned to nobody

[2020-05-22 19:07] yevhenobertas commented on #1038
@KellyeDC Done, Please review

[2020-05-22 19:07] #1038 closed, assigned to nobody

[2020-05-22 19:08] yevhenobertas commented on #1039
@KellyeDC Ready for review on both Dev and Stage envs.

[2020-05-22 19:08] #1039 closed, assigned to nobody

[2020-05-22 19:09] yevhenobertas commented on #1040
@KellyeDC Ready for review on both Dev and Stage envs.

[2020-05-22 19:09] #1040 closed, assigned to nobody

[2020-05-22 19:11] yevhenobertas commented on #1041
@KellyeDC Ready for review on both Dev and Stage envs.

[2020-05-22 19:11] #1041 closed, assigned to nobody

[2020-05-22 19:11] yevhenobertas commented on #1043
@KellyeDC Ready for review on both Dev and Stage envs.

[2020-05-22 19:11] #1043 closed, assigned to nobody

[2020-05-22 19:13] yevhenobertas commented on #1042
@KellyeDC Ready for review on both Dev and Stage envs.

[2020-05-22 19:13] #1042 closed, assigned to nobody

[2020-05-22 19:14] yevhenobertas commented on #1045
@KellyeDC Ready for review on both Dev and Stage envs.

[2020-05-22 19:14] #1045 closed, assigned to svasylenko, grawdon, KellyeDC

[2020-05-22 19:15] yevhenobertas commented on #1044
@KellyeDC Let's check on Monday once again

[2020-05-22 19:17] yevhenobertas commented on #1106
@KellyeDC Ready for review on Dev, Stage and Prod environments except unsharing and removing the link

[2020-05-22 19:17] #1106 closed, assigned to svasylenko, grawdon, KellyeDC

[2020-05-22 19:20] yevhenobertas commented on #1107
@KellyeDC Done. Please review

[2020-05-22 19:20] #1107 closed, assigned to svasylenko, grawdon, KellyeDC

[2020-05-22 19:23] yevhenobertas commented on #1108
@KellyeDC in progress now

[2020-05-22 19:24] yevhenobertas commented on #1109
@KellyeDC in progress, in investigation status

[2020-05-29 14:33] KellyeDC opened #1110 "Remove doesn't work for resources that are saved or shared"
Remove doesn't work for resources that are saved or shared

[2020-05-29 16:25] yevhenobertas commented on #1108
@KellyeDC We show the Fonts that were provided in the jsons. You can find the proof in the attachment: Hevletica font etc.
![font size](https://user-images.githubusercontent.com/48689437/83282320-15e17780-a1e2-11ea-802d-c608854bb355.png)

[2020-06-01 12:11] KellyeDC opened #1111 "Unable to unshare resources, after sharing with another registered user"
Unable to unshare resources, after sharing with  another registered user

[2020-06-01 12:16] yevhenobertas commented on #1109
@ozholob Hawaii

[2020-06-11 20:46] KellyeDC opened #1113 "Change in GUID behavior"
Resources with GUIDs appear to have been changed/updated to be hyperlinks instead of content associated with the GUID.

[2020-06-11 20:54] KellyeDC opened #1114 "HAWAII - Divorce, Separation & Annulment GA has "View Action Plan" in the middle of the interview"
HAWAII - Divorce, Separation & Annulment GA has "View Action Plan" in the middle of the interview

[2020-06-12 12:34] #346 closed

[2020-06-12 12:34] #976 closed, assigned to konstantin-orekhov, KellyeDC

[2020-06-15 12:07] yevhenobertas commented on #1044
@KellyeDC completed, please close it

[2020-07-07 20:56] KellyeDC opened #1115 "Add visual indicators that the system is processing requests."
Add visual indicators that the system is processing requests. These are commonly referred to as “throbbers” or “spinning wheels.”

[2020-07-07 20:57] KellyeDC opened #1116 "Make button labels and links unambiguous."
Make button labels and links unambiguous. (e.g., “click here” does not give enough information for screen readers

[2020-07-07 20:58] KellyeDC opened #1117 "Check all Alt tags for images and descriptions"
Check all Alt tags for images and make sure descriptions are usable, including setting alt text not read when appropriate, e.g., alt=””.

[2020-07-07 20:59] KellyeDC opened #1118 "Change menus that do not work with keyboard controls."
Change menus that do not work with keyboard controls.

[2020-07-07 20:59] KellyeDC opened #1119 "Review and fix use of heading elements"
Review and fix use of heading elements, particularly adding an H1 to all pages (likely as the “LegalNavigator” text at the top of the page).

[2020-07-15 12:28] yevhenobertas commented on #1119
@KellyeDC Rough Estimation 12-24 hours: we need a list of places to change, because it is difficult to remember all the places, and not everywhere they come from the Data Base

[2020-07-15 12:29] yevhenobertas commented on #1118
@KellyeDC Rough Estimation 15-30 hours: but we need a list of places, not everywhere it's done easily, and some places can now work incorrectly now.

[2020-07-15 12:30] yevhenobertas commented on #1117
@KellyeDC Rough Estimation 4-6 hours: depending on the list and quantity

[2020-07-15 12:31] yevhenobertas commented on #1116
@KellyeDC Rough Estimation 6-12 hours: Depends on the list of places where it exists

[2020-07-15 12:32] yevhenobertas commented on #1115
@KellyeDC Rough Estimation 8-16 hours: The spinner is already there, but we just need specific places to add, because it will take longer to search and add

[2020-07-15 15:01] KellyeDC commented on #1119
@yevhenobertas Please make all updates for both static and state content where applicable.  Once completed, the PO will review and we will identify any places that may have been missed.

[2020-07-15 15:07] KellyeDC commented on #1118
@yevhenobertas Please make all updates for both static and state content where applicable.  Once completed, the PO will review and we will identify any places that may have been missed.

[2020-07-15 15:09] KellyeDC commented on #1117
@yevhenobertas Please make all updates for both static and state content where applicable.  Once completed, the PO will review and we will identify any places that may have been missed.

[2020-07-15 15:09] KellyeDC commented on #1116
@yevhenobertas Please make all updates for both static and state content where applicable.  Once completed, the PO will review and we will identify any places that may have been missed.

[2020-08-17 11:29] yevhenobertas commented on #1116
@grawdon @KellyeDC As we previously discussed we have prepared the List of ambiguous elements. Could you please indicate which of these we should change?

[List of ambiguous elements.xlsx](https://github.com/LSCOIT/LegalNavigator/files/5083924/List.of.ambiguous.elements.xlsx)

[2020-08-17 11:36] yevhenobertas commented on #1119
@KellyeDC @grawdon As we previously discussed could you please define the particular places where we should review and fix use of heading elements? And what should be added?

[2020-08-17 11:51] yevhenobertas commented on #1116
@grawdon @KellyeDC
What values does your screen reader read?
Does it make sense to put an id everywhere if href is specified, or self-explanatory text?
There are obvious options, just where to change, and there are some that are not very clear.

[2020-08-20 06:36] yevhenobertas commented on #1119
@ozholob
Glenn Rawdon  6:31 PM
@Yevhen Obertas @Kellye As I understand it, the h1 tag is the most important heading because it’s the highest level tag that shows what your specific page is about. Search engines generally give this tag more weight over other headings, so it usually improves your search engine ranking when you use it correctly. Every page in LN should have an h1 tag and it should be

[2020-09-15 13:48] KellyeDC opened #1127 "211 Resources Surfacing"
As a state  content developer, I want the option to  display a link to state 211 resources.

[2020-09-15 13:48] KellyeDC commented on #1127
![211 Alaska](https://user-images.githubusercontent.com/59450227/93218829-a82d6d00-f738-11ea-851a-3ff1854db08f.jpg)

[2020-09-15 13:49] KellyeDC commented on #1127
Please adhere to the current UI standards and don't change look/feel per the wireframe.  Let me know if there are any questions.

[2020-09-22 17:31] KellyeDC commented on #1127
Please hard code the 211 buttons, underneath the map, instead of replacing the map on the Organizations section of T/R resources.  As discussed, we would still want the option to display or not display for each state.

[2020-09-29 13:34] KellyeDC opened #1128 "Add Super User /Admin role"
Add Super User /Admin role that allows for updates to all states content user administration and static content.  This user should also have access to state level (organizational unit) content.

[2020-09-29 13:37] KellyeDC opened #1129 "Add organizational Unit to the Dashboard"
Add organizational Unit to the Dashboard

[2020-09-30 10:24] svasylenko commented on #1119
@KellyeDC if we are talking about this elment:
![image](https://user-images.githubusercontent.com/46557859/94674004-39e3cf80-0320-11eb-82bb-e57cda716ff5.png)

we could not change it by h1 tag - since this element is an icon while h1 is applicable only to text.

[2020-10-12 11:43] yevhenobertas commented on #1128
@KellyeDC @grawdon
The task is completed.
We added State admin role because Super User /Admin role was added initially.
Super User/Admin role is the Platform's Admin. He has all permissions described in the document "CMS_Roles - permissions" available for Admin including possibility to change the plugins/themes/languages etc.
And Super User /Admin role allows for updates to all states content user

[2020-10-12 11:44] yevhenobertas commented on #1128
@KellyeDC @grawdon
[Uploading WordPress User Guide.docx…]()

[2020-10-12 11:45] yevhenobertas commented on #1128
@KellyeDC @grawdon
[CMS_Roles and permissions.xlsx](https://github.com/LSCOIT/LegalNavigator/files/5364916/CMS_Roles.and.permissions.xlsx)

[2020-10-12 11:47] yevhenobertas commented on #1128
@KellyeDC @grawdon
[WordPress User Guide.docx](https://github.com/LSCOIT/LegalNavigator/files/5364917/WordPress.User.Guide.docx)

[2020-10-12 11:47] yevhenobertas commented on #1129
@KellyeDC @grawdon This task is completed. We added organizational Unit to the Dashboard for Super User/Admin role.
It does not make sense to add organizational Unit to the Dashboard for State admin because State admin can see only users related to that state by default. Editor and Author can not see other users by default.